* {
  box-sizing: border-box;
}

img {
  display: block;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  color: white;
}
h4,
p {
  font-family: "Montserrat", sans-serif;
  color: white;
}

h1 {
  font-weight: 800;
  font-size: 52px;
}

h2 {
  font-weight: 500;
  font-size: 36px;
}

h3 {
  font-weight: 600;
  font-size: 22px;
}

h4 {
  font-weight: 300;
  font-size: 18px;
}
/* править */
p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
}
/* ----- */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

/* Общие настройки для кнопки */

.button {
  cursor: pointer;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  padding: 5px 20px;
  background-color: #998675;
  color: white;
  border-radius: 6px;
  transition-property: color, background, box-shadow;
  transition-duration: 0.4s;
}

/* шапка */

.header {
  z-index: 500;
  position: absolute;
  width: 100%;
  padding-top: 20px;
}

.header__container {
  display: flex;
  color: white;
  justify-content: space-between;
}

.header__logo {
  width: 185px;
}

.logo {
  align-items: center;
  display: inline-flex;
}

.logo__name {
  cursor: default;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 400;
}

.header__menu {
  display: inline-flex;
  align-items: center;
}

.menu {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.menu__links {
  display: flex;
}

.menu__link {
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.4s;
}

.menu__link + .menu__link {
  margin-left: 20px;
}

.menu__link:hover {
  color: #c7b299;
}

.menu__cart-search-icon {
  transition-property: fill;
  transition-duration: 0.4s;
  fill: #fff;
}

.menu__cart-search {
  margin-left: 30px;
  display: inline-flex;
}

.menu__cart {
  cursor: pointer;
}

.menu__cart:hover .menu__cart-search-icon {
  fill: #c7b299;
}

.menu__search {
  cursor: pointer;
  margin-left: 20px;
}

.menu__search:hover .menu__cart-search-icon {
  fill: #c7b299;
}

/* Слайдер */

/* Фон слайдера */

.slider {
  z-index: 1;
  background: rgba(0, 0, 0, 0.7) url("../imgs/Img/Clip.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.slider__container {
  position: relative;
  justify-content: center;
  padding: 400px 0 50px 0;
  display: flex;
}

/* Стрелки */

.slider__arrow {
  position: absolute;
  top: 520px;
  cursor: pointer;
}

/* Стрелка левая */
.arrow-left {
  left: -190px;
}

.slider__arrow-img {
  fill: #fff;
  transition-property: fill;
  transition-duration: 0.4s;
}

.slider__arrow:hover .slider__arrow-img {
  fill: #c7b299;
}

/* стрелка правая */
.arrow-right {
  right: -190px;
}

/* Слоган */

.slider__slogan {
  justify-content: center;
}

.slogan {
  flex-direction: column;
  display: flex;
}

/* заголовок */

.slogan__title {
  cursor: default;
  width: 100%;
  line-height: 55px;
  text-align: center;
}

/* описание */

.slogan__description {
  padding: 0 300px;
  margin-top: 25px;
}

/* кнопка */

.slogan__start {
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 40px;
}
.slogan__start:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.3);
}

/* слайды */

.slogan__slides {
  display: flex;
  justify-content: center;
  margin-top: 270px;
}
/* добавить ласт чайлд */
.slide {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

/* Блок сервисов */

.services {
  background: white;
  justify-content: center;
}
.services__container {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 100px;
}

/* блок сервиса */

.service {
  cursor: pointer;
  transition-property: color, fill;
  transition-duration: 0.4s;
}

.services__service {
  margin-left: 25px;
}

.service svg {
  fill: #555555;
}

.services__service:first-child {
  margin-left: 0;
}

.service:hover .service__img {
  fill: #c7b299;
}

.service:hover .service__title {
  color: #c7b299;
}

/* Подчеркивание */

.service::after {
  content: "";
  margin-top: 30px;
  display: block;
  height: 3px;
  width: 70px;
  background-color: #f1eee9;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
  transition-duration: 0.4s;
}
.service:hover::after {
  background-color: #c7b299;
}

/* картинка */

.service__img {
  transition-property: fill;
  transition-duration: 0.4s;
  margin-left: auto;
  margin-right: auto;
  height: 48px;
  display: flex;
  margin-bottom: 30px;
}

/* тексты */

.service__title {
  transition-property: color;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
  color: #555555;
}

.service__text {
  font-size: 14px;
  text-align: center;
  color: #555555;
}

/* Идеи */

/* Блок текста */
.ideas {
  background: #fbfaf8;
}

.ideas__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ideas__text {
  text-align: center;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
  padding: 0 200px;
}

.ideas__title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #555;
}

.ideas__description {
  line-height: 1.75;
  color: #555;
}

/* Блок картинок */

.ideas__images {
  position: relative;
  margin: 0 auto;
}

.ideas-center {
  position: relative;
  z-index: 10;
  width: 770px;
  height: 480px;
}

.ideas-left,
.ideas-right {
  position: absolute;
  height: 400px;
  bottom: 0;
  z-index: 5;
}

.ideas-left {
  left: -230px;
}

.ideas-right {
  right: -230px;
}

/* покупка */

.purchase {
  background: #211b19;
}

.purchase__container {
  justify-content: space-between;
  display: flex;
  padding: 45px 0 45px 0;
}

.purchase__title {
  margin-bottom: 5px;
  font-size: 28px;
  font-weight: 400;
}

.waxom-color {
  color: #c7b299;
}

.purchase__description {
  color: #615855;
}

.purchase-button {
  padding: 17px 30px;
}

.purchase-button:hover {
  box-shadow: 0 0 5px 5px rgb(255 255 255 / 30%);
}

/* Последние проекты */

/* Блок проектов */

.latest-projects {
  background: #ffffff;
}

.latest-projects__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Текст проектов */

.latest-projects__text {
  text-align: center;
  padding: 0 200px;
}

/* Категории */

.latest-projects__nav {
  margin-top: 40px;
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
}

.latest-project__item {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 5px 20px;
  border: 1px solid #ebebeb;
  color: #8c8c8c;
  background: #fff;
}

.latest-project__item + .latest-project__item {
  margin-left: 10px;
}

.latest-project__item:hover {
  background: #998675;
  color: #fff;
}

/* сами Проекты */

.latest-projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.latest-project {
  cursor: pointer;
  background: #fbfaf8;
  line-height: 1.4;
  margin-top: 30px;
  transition-property: border-color, background, color;
  transition-duration: 0.4s;
}

.latest-project__img {
  height: 240px;
  position: relative;
}

.latest-project__title-text {
  padding: 25px 30px 25px 30px;
}

.latest-project__title {
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
}

.latest-project__text {
  font-size: 14px;
  color: #d1d1d1;
}

/* Эффекты проектов */

.latest-project__img::after {
  transition-property: border-color, background, color;
  transition-duration: 0.4s;
  position: absolute;
  bottom: 3px;
  left: 20px;
  content: "";
  border-style: solid;
  border-width: 20px;
  border-bottom: 10px solid #fbfaf8;
  border-color: transparent transparent #fbfaf8 transparent;
}

.latest-project:hover {
  background: #362f2d;
}

.latest-project:hover .latest-project__title {
  color: white;
}

.latest-project:hover .latest-project__text {
  color: #c7b299;
}

.latest-project:hover .latest-project__img::after {
  border-color: transparent transparent #362f2d transparent;
}

/* кнопка подгрузки */

.latest-project__button {
  padding: 17px 45px;
  margin-left: auto;
  margin-right: auto;
}

.latest-project__button:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
}

/* Видео презентация */

.presentation {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7) url(../imgs/presentation/video-pres.jpg)
    no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
}

.presentation-container {
  cursor: pointer;
  text-align: center;
  padding-top: 210px;
  padding-bottom: 250px;
  width: 570px;
}

.presentation-play {
  transition-duration: 0.4s;
  transition-property: fill, box-shadow;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.presentation-title {
  font-size: 30px;
  font-weight: 500;
  margin-top: 40px;
}

.presentation-text {
  margin-top: 20px;
}

.presentation-container:hover .presentation-play_color {
  fill: rgba(0, 0, 0, 0.7);
}

.presentation-container:hover .presentation-play {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border-bottom: outset;
  border-top: inset;
}

/* Мобильная версия */

.mobile {
  background: white;
}

.mobile__container {
  display: flex;
}

.mobile__img {
  padding: 80px 0 0 45px;
}

.mobile__description {
  margin-left: 30px;
  padding-top: 190px;
}

.mobile__title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}

.mobile__text {
  margin-bottom: 35px;
  color: #8c8c8c;
}

.mobile__list {
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  color: #8c8c8c;
}

.mobile__item::before {
  display: inline-block;
  vertical-align: middle;
  content: url(../imgs/mobile/list-icon.jpg);
  padding: 5px 30px 0 50px;
}

/* счетчики */

.counters {
  background: #211b19;
}

.counters__container {
  display: flex;
  justify-content: space-between;
  padding: 70px 100px 60px 100px;
}

.counter {
  cursor: pointer;
  text-align: center;
  transition-property: color, fill, width;
  transition-duration: 0.4s;
}

.counter::after {
  content: "";
  display: block;
  height: 2px;
  width: 30px;
  background-color: #f1eee9;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color, fill, width;
  transition-duration: 0.4s;
}

.counter__img {
  transition-property: fill;
  transition-duration: 0.4s;
  fill: #c7b299;
}

.counter__text {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 200;
  transition-property: color;
  transition-duration: 0.4s;
}

.counter__description {
  margin-top: 15px;
  margin-bottom: 25px;
  color: #c7b299;
  transition-property: color;
  transition-duration: 0.4s;
}

/* Эффекты */

.counter:hover::after {
  background-color: #fff;
  width: 50px;
}

.counter:hover .counter__description {
  color: #fff;
}

.counter:hover .counter__img {
  fill: #fff;
}

.counter:hover .counter__text {
  color: #c7b299;
}

/* Недавние посты */

/* посты */

.recent-posts__post {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.recent-post {
  cursor: pointer;
  border: 2px solid #f8f8f8;
  transition-property: fill, color, background;
  transition-duration: 0.4s;
}

.recent-posts__container {
  padding-top: 75px;
  padding-bottom: 80px;
}

.recent-post + .recent-post {
  margin-left: 30px;
}

.recent-post__img {
  position: relative;
  display: flex;
  height: 220px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

/* дата */

.recent-post__date {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.recent-post__day {
  font-size: 24px;
  background-color: #363636;
  border-radius: 5px 5px 0 0;
  padding: 6px 10px;
  transition-property: fill, color, background;
  transition-duration: 0.4s;
}

.recent-post__month {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #252525;
  border-radius: 0 0 5px 5px;
  padding: 5px 14px;
  transition-property: fill, color, background;
  transition-duration: 0.4s;
}

/* слайды */

.recent-post__slides {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 140px;
}

/* текст */

.recent-post__title-text {
  padding: 25px 30px 29px 28px;
}

.recent-post__title {
  color: #555555;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.recent-post__text {
  color: #8c8c8c;
  font-size: 14px;
  margin-bottom: 21px;
}
.recent-post__link {
  display: block;
  color: #c7b299;
}

.recent-post__link::after {
  content: url(../imgs/posts/arrow.svg);
  margin-left: 10px;
}

/* Эффекты постов*/

.recent-post:hover {
  background: #362f2d;
}

.recent-post:hover .recent-post__title {
  color: #c7b299;
}

.recent-post:hover .recent-post__text {
  color: #fff;
}

.recent-post:hover .recent-post__day {
  background: #c7b299;
}

.recent-post:hover .recent-post__month {
  background: #a48d72;
}

/* стрелки постов */

.recent__arrows {
  cursor: pointer;
  display: flex;
  justify-content: center;
  fill: #d1d1d1;
}

.recent__arrow-right,
.recent__arrow-left {
  transition-property: fill;
  transition-duration: 0.4s;
}

.recent__arrow-left {
  margin-right: 8px;
}

/* Эффекты стрелок */

.recent__arrow-left:hover {
  fill: #c7b299;
}

.recent__arrow-right:hover {
  fill: #c7b299;
}

/* Партнеры */

.partners {
  background: rgba(0, 0, 0, 0.7) url(../imgs/partner/partner-bg.jpg) 0 0 / cover
    no-repeat;
  background-blend-mode: multiply;
}

.partners__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 30px;
}

/* Футер */

.footer {
  background: #111111;
}

.footer__waxom-info {
  background: #191919;
}

.footer__container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 55px;
}

/* Инфа */

.footer__column {
  flex-basis: calc(25% - 30px * 3 / 4);
}

.footer__about,
.footer__posts,
.footer__twitter {
  margin-right: 30px;
}

.footer__logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 27px;
}

.footer__read-more {
  transition-property: color;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Montserat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #d1d1d1;
  display: block;
  margin-top: 23px;
}

.footer__read-more::after {
  content: url(../imgs/posts/arrow.svg);
  margin-left: 9px;
}

.footer__posts {
  padding-top: 20px;
}

.footer__title {
  margin-bottom: 24px;
}

.footer__post {
  cursor: pointer;
}

.footer__post::after {
  content: "";
  display: block;
  width: 270px;
  height: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #252525;
}

.footer__date {
  transition-property: color;
  transition-duration: 0.4s;
  display: block;
  color: #363636;
  margin-bottom: 7px;
  margin-top: 9px;
}

.footer__text {
  transition-property: color;
  transition-duration: 0.4s;
  color: #707070;
  display: block;
}

.footer__twitter {
  padding-top: 20px;
}

.footer__link {
  color: #02addc;
}

.footer__link_gray {
  color: #959595;
}

.footer__widget {
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.footer__widget .widget__img {
  margin-top: 10px;
}

.widget__img {
  width: 130px;
  height: 98px;
}

/* Эффекты  */

.footer__post:hover .footer__date {
  color: #fff;
}

.footer__post:hover .footer__text {
  color: #c7b299;
}

.footer__read-more:hover {
  color: #c7b299;
}

/* Права */

.footer__copy-design {
  padding-top: 42px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
