body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: url(../img/bg.jpg) no-repeat fixed;
  background-size: cover;
  margin: 0 13%;
}

/* Шапка */
.header {
  padding: 5px 15px;
  display: flex;
  position: fixed;
  top: 0;
  left: 13%;
  right: 13%;
  z-index: 500;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: space-between;
}

.home {
  display: flex;
  align-items: center;
}

/*картинка(лого)*/

.home__logo {
  transition-property: background-color, border-radius;
  transition-duration: 1s;
  width: 40px;
  margin-right: 20px;
}

.home__logo:hover {
  border-radius: 50%;
  background-color: rgba(230, 255, 2, 0.541);
}

.home__name {
  color: white;
  display: inline-block;
  font-size: 20px;
}

/* Меню */

.menu {
  display: flex;
}

button:first-child {
  margin-left: 0;
}

/*кнопки*/

.menu__button {
  border-radius: 10px;
  background-color: rgba(99, 35, 35, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 2px red;
  cursor: pointer;
  margin-left: 20px;
  padding: 6px;
  transition-property: box-shadow, text-shadow;
  transition-duration: 0.6s;
}

.menu__button:hover {
  text-shadow: 0 0 3px white;
  box-shadow: 0 0 10px white;
}

.menu__button_number {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 5px 6px;
  background-color: rgba(230, 255, 2, 0.5);
}

.main {
  display: flex;
}

/* Боковая панель */

.aside {
  flex-shrink: 0;
  flex-basis: 25%;
}

.aside__list {
  position: sticky;
  top: 80px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 150px 20px 0 0;
  padding: 20px;
}

/* Список */

.aside__list-item {
  cursor: default;
  margin-bottom: 20px;
}
.aside__list-item:last-child {
  margin-bottom: 0;
}

li::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 6px;
  width: 6px;
  background-color: white;
  margin-right: 5px;
}

/* Карточки товаров */

.main__products {
  margin-top: 120px;
}

.products {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.cart {
  flex-direction: column;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  height: 190px;
  width: 140px;
  padding: 5px;
}

.cart__img-block {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 5px;
  width: 100px;
  height: 150px;
}

.cart__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.cart__description {
  width: 100%;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 25px;
  font-size: 12px;
  margin-bottom: 10px;
}

.cart__price {
  width: 100%;
  text-align: right;
  margin-right: 5px;
}

.products__cart {
  margin-right: 20px;
  margin-bottom: 20px;
}
