.main__about {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    .main__about-container {
        padding: 66px 10px 78px; 
        position: relative;
        z-index: 5;
       .main__about-video {
            width: 750px;
            height: 443px;
            background-image: url(../img/about/about-vid.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 52px;
            position: relative;
            .video-rectangls {
                position: absolute;
                width: 310px;
                height: 230px;
                right: -240px;
                bottom: 33.3%;
                .rectangle__play {
                    position: absolute;
                    left: 0px;
                    bottom: 0px;
                    z-index: 50;
                }
                .rectangle_gray {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    z-index: 50;
                }
                .triangle__play {
                    position: absolute;
                    left: 87px;
                    bottom: 55px;
                    z-index: 50;
                }
            }
            
       }
       .main__slider-btn {
           @extend %btn;
           background-color: $color_3;
           color: #fff;
       }
    }
    .main__about-wave {
        position: absolute;
        left: 653px;
        top: 606px;
       }  
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__about {
        background-color: #fff;
        position: relative;
        overflow: hidden;
        .main__about-container {
            padding: 64px 16px;
            position: relative;
            z-index: 5;
           .title__second {
                font-family: $main_font_b;
                font-size: $fs-7;
                line-height: 32.4px;
                width: 540px;
                margin-bottom: 56px;
           } 
           .main__about-video {
                .video-rectangls {
                    position: absolute;
                    width: 310px;
                    height: 230px;
                    right: -110px;
                    bottom: 33.3%;
                }    
            }
        }   
    }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
    .main__about {
        background-color: #fff;
        position: relative;
        overflow: hidden;
        .main__about-container {
            padding: 21px 16px;
            position: relative;
            z-index: 5;
           .title__second {
                font-family: $main_font_b;
                font-size: $fs-7;
                line-height: 32.4px;
                width: 540px;
                margin-bottom: 29px;
           } 
           .main__about-video {
                width: 100%;
                height: 400px;
                background-image: url(../img/about/about-vid.jpg);
                background-position: top ;
                background-repeat: no-repeat;
                background-size: contain;
                margin-bottom: 38.5px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                .video-rectangls {
                    position: relative;
                    width: 200px;
                    height: 149px;
                    right: 0;
                    bottom: 0;
                    .rectangle_gray {
                        display: none;
                    }
                }  
           }
           
        }
        .main__about-wave {
            position: absolute;
            left: 653px;
            top: 606px;
           }  
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm) {
    .main__about {
        padding: 13px 0 31px;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        .main__about-container {
            padding: 0 16px;
            position: relative;
            z-index: 5;
           .title__second {
                font-family: $main_font_b;
                font-size: $fs-7;
                line-height: 32.4px;
                width: 343px;
                margin-bottom: 29px;
           } 
           .main__about-video {
                width: 100%;
                height: 221px;
                background-image: url(../img/about/about-vid.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-bottom: 38.5px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                .video-rectangls {
                    position: relative;
                    width: 73px;
                    height: 73px;
                    right: 0;
                    bottom: 0;
                    .rectangle__play {
                        width: 75px;
                        height: 55.5px;
                    }
                    .rectangle_gray {
                        display: none;
                    }
                    .triangle__play {
                        width: 16px;
                        left: 30px;
                        bottom: 10px;
                    }
                } 
           }
           .main__slider-btn {
               margin: 0 auto;
               width: 100%;
           }
           
        }
        .main__about-wave {
            display: none;
           }  
    }
}