.main__advantages {
    background-color: $color_2;
    overflow: hidden;
    .main__advantages-container {
        padding: 70px 10px 133px;
        position: relative;
        .title__second {
            max-width: 714px;
            width: 100%;
            padding: 0 10px;
            color: #fff;
            margin-bottom: 96px;
        }
        .main__advantages-block {
            display: flex;
            flex-wrap: wrap;
            justify-content:flex-start;
            
            .main__advantage {
                margin-right: 75px;
                margin-bottom: 63px;  
                cursor: pointer;
                &:nth-child(3n+3){
                    margin-right: 0;
                }
                &:hover {
                    .advantage__icon {
                        .ellipse {
                            circle {
                                stroke: $color_3;
                            }
                        }
                    }
                    
                }
                .advantage__icon {
                    position: relative;
                    width: 147px;
                    height: 147px;
                    margin-bottom: 40px;
                    .ellipse {
                        position: absolute;
                        left: 0;
                        circle {
                            transition-duration: 0.3s;
                            transition-property: stroke;
                        }
                        
                    }
                    .icon {
                        position: absolute;
                        top: 31.33%;
                        right: 27%;
                    }
                }
                .advantage__desc {
                    max-width: 305px;
                    font-family: $main_font_r;
                    font-size: $fs-6;
                    line-height: 28.8px;
                    color: #fff;
                }
            }
        }
        .main__advantages-wave {
            position: absolute;
            bottom: 0;
            left: 60%;
            height: 460px;
            .wave__block {
                position: relative;
                height: 100%;
                .wave {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .rectangl_bottom {
                    position: absolute;
                    bottom: 0;
                    left: 60px;
                }
                .rectangl_top {
                    position: absolute;
                    bottom: 175px;
                    left: 296px;
                }
            }
        }
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__advantages {
        background-color: $color_2;
        overflow: hidden;
        .main__advantages-container {
            padding: 48px 16px 57px;
            position: relative;
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                margin-bottom: 46px;
            }
            .main__advantages-block {
                .main__advantage {
                    margin-right: 50px;
                    margin-bottom: 50px;
                    &:nth-child(3n+3){
                        margin-right: 0;
                    }
                    &:hover {
                        .advantage__icon {
                            .ellipse {
                                circle {
                                    stroke: $color_3;
                                }
                            }
                        }
                        
                    }
                    .advantage__icon {
                        position: relative;
                        width: 147px;
                        height: 147px;
                        margin-bottom: 40px;
                        .ellipse {
                            position: absolute;
                            left: 0;
                            circle {
                                transition-duration: 0.3s;
                                transition-property: stroke;
                            }
                            
                        }
                        .icon {
                            position: absolute;
                            top: 31.33%;
                            right: 27%;
                        }
                    }
                    .advantage__desc {
                        max-width: 240px;
                        font-family: $main_font_r;
                        font-size: $fs-4;
                        line-height: 28.8px;
                        color: #fff;
                    }
                }
            }
            .main__advantages-wave {
                position: absolute;
                bottom: 0;
                left: 60%;
                height: 380px;
            }
        }
    }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
    .main__advantages {
        background-color: $color_2;
        overflow: hidden;
        .main__advantages-container {
            padding: 48px 16px 57px;
            position: relative;
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                margin-bottom: 46px;
            }
            .main__advantages-block {
                .main__advantage {
                    margin-right: 50px;
                    margin-bottom: 50px;
                    &:nth-child(3n+3){
                        margin-right: 50px;
                    }
                    .advantage__desc {
                        max-width: 240px;
                        font-family: $main_font_r;
                        font-size: $fs-4;
                        line-height: 28.8px;
                        color: #fff;
                    }
                }
                .slick-dots {
                    display: flex;
                    width: 228px;
                    margin-top: 7px;
                    position: relative;
                    list-style: none;
                    li {
                        &.slick-active {
                            button {
                                background-color: $color_3;
                            }
                        }
                        button {
                            text-decoration: none;
                            width: 38px;
                            height: 4px;
                            border-radius: 0;
                            border: 0px #353542;
                            font-size: 0;
                            margin-right: 25px;
                        }
                    }
                }
            }
            .main__advantages-wave {
                display: none !important;
                .wave__block {
                    display: none !important;
                }
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm) {
    .main__advantages {
        background-color: $color_2;
        overflow: hidden;
        .main__advantages-container {
            padding: 48px 16px 57px;
            position: relative;
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                margin-bottom: 46px;
            }
            .main__advantages-block {
                .main__advantage {
                    margin-right: 16px;
                    margin-bottom: 56px;
                    min-width: 160px;
                    &:nth-child(3n+3){
                        margin-right: 16px;
                    }
                    .advantage__icon {
                        position: relative;
                        width: 117px;
                        height: 117px;
                        margin-bottom: 40px;
                        .ellipse {
                            circle {
                                width: 117px;
                                height: 117px;
                            }
                            
                        }
                        .icon {
                            position: absolute;
                            top: 31.33%;
                            right: 15%;
                            width: 53px;
                            height: 53px;
                        }
                    }
                   
                    .advantage__desc {
                        min-width: 100%;
                        font-family: $main_font_r;
                        font-size: 13px;
                        line-height: 15.6px;
                        color: #fff;
                    }
                }
                .slick-dots {
                    display: flex;
                    width: 228px;
                    margin-top: 7px;
                    position: relative;
                    list-style: none;
                    li {
                        &.slick-active {
                            button {
                                background-color: $color_3;
                            }
                        }
                        button {
                            text-decoration: none;
                            width: 38px;
                            height: 4px;
                            border-radius: 0;
                            border: 0px #353542;
                            font-size: 0;
                            margin-right: 25px;
                        }
                    }
                }
            }
            .main__advantages-wave {
                display: none;
                .wave__block {
                    display: none !important;
                }
            }
        }
    }
}