.main__benefits {
    background-color: #fff;
    .main__benefits-container {
        width: 100%;
        padding: 25px 0 140px;
        .title__second {
            max-width: 714px;
            width: 100%;
            padding: 0 10px;
        }
        .main__benefits-block {
            width: 100%;
            padding: 0 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .main__benefit {
                width: 490px;
                height: 170px;
                display: flex;
                margin-bottom: 79px;
                &:last-child {
                    margin-bottom: 0;
                }
                &:nth-child(5) {
                    margin-bottom: 0;
                }
                .main__about-wave {
                    display: none;
                }
                .rectangle__number {
                    width: 117px;
                    height: 125px;
                    position: relative;
                    margin-right: 48px;
                    .benefit__number {
                        position: absolute;
                        left: 31%;
                        top:23%;
                        color: #fff;
                        font-family: $main_font_eb;
                        font-size: 50px;
                    }
                }
                .benefit__desc {
                    .benefit__name {
                        margin: 0 0 15px;
                        font-family: $main_font_r;
                        font-size: $fs-7;
                        font-weight: 400;
                        line-height: 36px;
                    }
                    p {
                        font-family: $main_font_r;
                        font-size: $fs-3;
                        line-height: 19.2px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__benefits {
        .main__benefits-container {
            padding: 25px 0 91px;
            .title__second {
                max-width: 714px;
                font-size: $fs-7;
                line-height: 32.4px;
                width: 100%;
                padding: 0 16px;
            }
            .main__benefits-block {
                width: 100%;
                padding: 0 16px;
                display: flex;
                justify-content: center;
                .main__benefit {
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:nth-child(5) {
                        margin-bottom: 79px;
                    }
                    .main__about-wave {
                        display: none;
                    }
                }    
            }
        }
    }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
    .main__benefits {
        .main__benefits-container {
            padding: 25px 0 91px;
            .title__second {
                max-width: 714px;
                font-size: $fs-7;
                line-height: 32.4px;
                width: 100%;
                padding: 0 16px;
            }
            .main__benefits-block {
                width: 100%;
                padding: 0 16px;
                .main__benefit {
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:nth-child(5) {
                        margin-bottom: 79px;
                    }
                    .main__about-wave {
                        display: none;
                    }
                    .benefit__name {
                        font-size: $fs-7;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm) {
    .main__benefits {
        overflow: hidden;
        .main__benefits-container {
            padding: 32px 0 91px;
            .title__second {
                max-width: 714px;
                font-size: $fs-7;
                line-height: 32.4px;
                width: 100%;
                padding: 0 16px;
            }
            .main__benefits-block {
                position: relative;
                width: 100%;
                padding: 0 16px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .main__benefit {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 79px;
                    position: relative;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:nth-child(5) {
                        margin-bottom: 79px;
                    }
                    .main__about-wave {
                        display: flex;
                        height: 90px;
                        position: absolute;
                        left: -371px;
                        top: -14px;
                    }
                    .rectangle__number {
                        width: 74px;
                        height: 79px;
                        position: relative;
                        margin-right: 23px;
                        svg {
                            width: 74px;
                            height: 79px;
                        }
                        .benefit__number {
                            position: absolute;
                            left: 31%;
                            top:23%;
                            color: #fff;
                            font-family: $main_font_eb;
                            font-size: $fs-8;
                        }
                    }
                    .benefit__desc {
                        margin-top: 23px;
                        .benefit__name {
                            margin: 0 0 15px;
                            min-width: 360px;
                            font-family: $main_font_r;
                            font-size: $fs-7;
                            font-weight: 400;
                            line-height: 36px;
                        }
                        p {
                            min-width: 360px;
                            font-family: $main_font_r;
                            font-size: $fs-3;
                            line-height: 19.2px;
                            font-weight: 400;
                        }
                    }
                    
                }
            }
        }
    }
}