$color_1: #E5E5E5;
$color_2: #24242E;
$color_3: #1E489B;
$color_4: #DCDCDC;
$color_5: #9898A7;
$color_form1: #F8F8F8;
$color_form2: #353542;

$fs-1: 14px;
$fs-2: 15px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 24px;
$fs-7: 27px;
$fs-8: 30px;
$fs-9: 40px;

$main_font_eb: "Circe-ExtraBold";
$main_font_b: "Circe-Bold";
$main_font_r: "Circe-Regular";
$main_font_l: "Circe-Light";
$secondary_font: 'Exo 2', sans-serif;

$xs:320px; 
$sm:576px; 
$md:768px; 
$lg:992px; 
$xl:1140px;

%btn {
    font-family: $main_font_r;
    font-size:$fs-4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 65px;
    border: 0;
    cursor: pointer;
}


