.main__examples {
    .main__examples-container {
        padding: 63px 0 115px;
       .title__second {
        width: 800px;
        line-height: 48px;
        margin-bottom: 67px;
       } 
       .main__examples-block {
           width: 100%;
           position: relative;
           .slick-dots {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 58px;
            position: relative;
            list-style: none;
            li {
                &.slick-active {
                    button {
                        background-color: $color_2;
                    }
                }
                button {
                    text-decoration: none;
                    width: 46px;
                    height: 8px;
                    border-radius: 0;
                    border: 0px #fff;
                    font-size: 0;
                    margin-right: 25px;
                }
            }
        }
           .slick-arrow {
            position: absolute;
            bottom: 280px;
            top: -90px;
            z-index: 10;
            font-size: 0;
            width: 40px;
            height: 17px;
            border: 0;
            background-color: #fff;
            cursor: pointer;
            &.slick-prev {
                background-image: url(../img/partners/arrow.png);
                background-repeat: no-repeat;
                background-size: 100%;
                right: 100px;
                
            }
            &.slick-next {
                background-image: url(../img/partners/arrow.png);
                transform: rotate(180deg);
                background-repeat: no-repeat;
                right: 27px;
                background-size: 100%;
            }
        }
           .example__block {
               width: 100%;
               height: 100%;
               display: flex;
               .example__img {
                   display: flex;
                   justify-content: space-between;
                   width: 55%;
                   height: 100%;
                   img {
                       height: 100%;
                   }
               }
               .example__desc-block {
                   font-family: $main_font_r;
                   width: 45%;
                   height: 100%;
                   padding-left: 54px;
                  .top__title {
                    font-size: $fs-8;
                    margin-bottom: 32px;
                  } 
                  .example__desc {
                    line-height: 19.2px;
                    p {
                        margin-bottom: 24px;
                    }
                  }
                  .price-date {
                    border-left: 9px solid #1E489B;
                    height: 194px;
                    display: flex;
                    align-items: center;
                    ul {
                        list-style-type: none;
                        li {
                            margin: 0 0 16px 33px;
                            &:first-child::before {
                                content: url(../img/example/price.png);
                                margin-left: -42px;
                                width: 18px;
                                height: 18px;
                                float: left;
                            }
                            &:nth-child(3)::before {
                                content: url(../img/example/date.png);
                                margin-left: -42px;
                                width: 18px;
                                height: 18px;
                                float: left;
                            }
                        }

                    }
                  }
               }
           }
       }
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $lg) and (max-width: $xl) {
    .main__examples {
        .main__examples-container {
            padding: 63px 15px 115px;
           .main__examples-block {
               .example__block {
                   .example__desc-block {
                       padding-left: 60px;
                      .top__title {
                        margin-bottom: 12px;
                      } 
                      .example__desc {
                        line-height: 19.2px;
                        p {
                            margin-bottom: 14px;
                        }
                      }
                      .price-date {
                        ul {
                            li {
                                margin: 0 0 10px 33px;
                            }
    
                        }
                      }
                   }
               }
           }
        }
    }
}

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__examples {
        .main__examples-container {
            padding: 56px 16px 58px;
           .title__second {
            width: 100%;
            font-size: $fs-7;
            line-height: 32.4px;
            margin-bottom: 88px;
           } 
           .main__examples-block {
               width: 100%;
               position: relative;
               .slick-dots {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 58px;
                position: relative;
                list-style: none;
            }
               .slick-arrow {
                position: absolute;
                top: -60px;
                z-index: 10;
                font-size: 0;
                width: 40px;
                height: 17px;
                border: 0;
                background-color: #fff;
                cursor: pointer;
                &.slick-prev {
                    background-image: url(../img/partners/arrow.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    left: 0;
                    
                }
                &.slick-next {
                    background-image: url(../img/partners/arrow.png);
                    transform: rotate(180deg);
                    background-repeat: no-repeat;
                    left: 80px;
                    background-size: 100%;
                }
            }
               .example__block {
                   width: 100%;
                   height: 100%;
                   display: flex;
                   .example__img {
                       display: flex;
                       justify-content: space-between;
                       width: 55%;
                       height: 100%;
                       img {
                           width: 48%;
                           height: 100%;
                       }
                   }
                   .example__desc-block {
                       font-family: $main_font_r;
                       width: 45%;
                       height: 100%;
                       padding-left: 18px;
                      .top__title {
                        font-size: 22px;
                        margin-bottom: 32px;
                      } 
                      .example__desc {
                        line-height: 19.2px;
                        p {
                            margin-bottom: 24px;
                        }
                      }
                      .price-date {
                        border-left: 9px solid #1E489B;
                        height: 200px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        ul {
                            
                            font-size: $fs-1;
                            list-style-type: none;
                            li {
                                word-wrap: normal;
                                margin: 0 0 16px 33px;
                                &:first-child::before {
                                    content: url(../img/example/price.png);
                                    margin-left: -42px;
                                    width: 18px;
                                    height: 18px;
                                    float: left;
                                }
                                &:nth-child(3)::before {
                                    content: url(../img/example/date.png);
                                    margin-left: -42px;
                                    width: 18px;
                                    height: 18px;
                                    float: left;
                                }
                            }
    
                        }
                      }
                   }
               }
           }
        }
    }
}

@media only screen and (max-width: $md) {
    .main__examples {
        .main__examples-container {
            padding: 56px 16px 58px;
           .title__second {
            width: 100%;
            font-size: $fs-7;
            line-height: 32.4px;
            margin-bottom: 88px;
           } 
           .main__examples-block {
               width: 100%;
               position: relative;
               .slick-dots {
                display: none;
            }
               .slick-arrow {
                position: absolute;
                top: -60px;
                z-index: 10;
                font-size: 0;
                width: 40px;
                height: 17px;
                border: 0;
                background-color: #fff;
                cursor: pointer;
                &.slick-prev {
                    background-image: url(../img/partners/arrow.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    left: 0;
                    
                }
                &.slick-next {
                    background-image: url(../img/partners/arrow.png);
                    transform: rotate(180deg);
                    background-repeat: no-repeat;
                    left: 80px;
                    background-size: 100%;
                }
            }
               .example__block {
                   width: 100%;
                   height: 100%;
                   display: flex;
                   flex-wrap: wrap;
                   .example__img {
                       display: flex;
                       justify-content: space-between;
                       width: 100%;
                       height: 100%;
                       img {
                           width: 48%;
                           height: 100%;
                       }
                   }
                   .example__desc-block {
                       font-family: $main_font_r;
                       width: 100%;
                       height: 100%;
                       padding-left: 0;
                       margin-top: 36px;
                      .top__title {
                        font-size: 22px;
                        margin-bottom: 32px;
                      } 
                      .example__desc {
                        line-height: 19.2px;
                        p {
                            margin-bottom: 24px;
                        }
                      }
                      .price-date {
                        border-left: 9px solid #1E489B;
                        height: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        ul {
                            
                            font-size: $fs-1;
                            list-style-type: none;
                            li {
                                word-wrap: normal;
                                margin: 0 0 16px 33px;
                                &:first-child::before {
                                    content: url(../img/example/price.png);
                                    margin-left: -42px;
                                    width: 18px;
                                    height: 18px;
                                    float: left;
                                }
                                &:nth-child(3)::before {
                                    content: url(../img/example/date.png);
                                    margin-left: -42px;
                                    width: 18px;
                                    height: 18px;
                                    float: left;
                                }
                            }
    
                        }
                      }
                   }
               }
           }
        }
    }
}
