.main__feedback {
    background-color: #fff;
    .feedback-container {
        padding: 58px 0 129px;
        .title__second {
            width: 100%;
        }
        .feedback__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .feedback__item {
                background-color: $color_form1;
                padding: 50px 40px;
                width: 360px;
                height: 360px;
                flex-direction: column;
                .feedback__item-logo {
                    margin-bottom: 106px;
                }
                .feedback__item-desc {
                    
                    span {
                        display: block;
                        font-family: $main_font_r;
                        font-size: $fs-1;
                        font-weight: 400;
                        line-height: 16.8px;
                        margin-bottom: 37px;
                    }
                    a {
                        cursor: pointer;
                        text-decoration: none;
                        color: $color_3;
                        display: block;
                        font-family: $main_font_r;
                        font-size: $fs-5;
                        font-weight: 400;
                        line-height: 28.8px;
                    }
                }
            }
        }
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__feedback {
        .feedback-container {
            padding: 58px 16px 109px;
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                margin-bottom: 49px;
            }
            .feedback__block {
                .feedback__item {
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $md) {
    .main__feedback {
        .feedback-container {
            padding: 58px 16px 109px;
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                margin-bottom: 49px;
            }
            .feedback__block {
                flex-direction: column;
                .feedback__item {
                    background-color: #fff;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    flex-direction: row;
                    display: flex;
                    &:not(:last-child) {
                        margin-bottom: 66px;
                    }
                    
                    .feedback__item-logo {
                        margin: 0 40px 0 0;
                        img {
                            width: 33px;
                            height: 33px;
                        }
                    }
                    .feedback__item-desc {
                        span {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}