/* font-family: "Circe"; */
@font-face {
  font-family: 'Circe-Bold';
  src: local('../fonts/Circe/Circe-Bold'), local('../fonts/Circe/Circe-Bold');
  src: url('../fonts/Circe/Circe-Bold.eot');
  src: url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe/Circe-Bold.woff') format('woff'),
      url('../fonts/Circe/Circe-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Circe-ExtraBold';
  src: url('../fonts/Circe/Circe-ExtraBold.eot');
  src: url('../fonts/Circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe/Circe-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe-Regular';
  src: url('../fonts/Circe/Circe-Regular.eot');
  src: url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe/Circe-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circe-Light';
  src: url('Circe-Light.eot');
  src: url('Circe-Light.eot?#iefix') format('embedded-opentype'),
      url('Circe-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}



