.footer {
    background-color: $color_2;
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 48px 0 58px;
        .footer__logo {
            display: flex;
            align-items: center;
            margin-right: 53px;
            width: 180px;
            .footer__logo-img {
                fill: #fff;
                margin-right: 5px;
            }
            .footer__logo-name {
                fill: #fff;
                margin-top: 8px;
            }
        }
        .footer__name {
            font-family: $secondary_font;
            color: #fff;
            font-size: $fs-2;
            line-height: $fs-3;
            font-weight: 400;
            border-left: 2px solid #fff;
            width: calc(100% - 389px);
            height: 28px;
            padding: 0 39px;
            display: flex;
            align-items: center;
        }
        .footer__links {
            display: flex;
            align-items: center;
            width: 209px;
            justify-content: space-between;
        }
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $sm) and (max-width: $lg) {
    .footer {
        .footer-container {
            padding: 48px 16px 58px;
            .footer__logo {
                margin-right: 13px;
                width: 150px;
            }
            .footer__links {
                width: 150px;
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm) {
    .footer {
        .footer-container {
            flex-direction: column;
            padding: 66px 74px 84px;
            .footer__logo {
                margin-right: 0;
                width: 217px;
                .footer__logo-img {
                    fill: #fff;
                    margin-right: 0;
                    width: 38px;
                    height: 47px;
                }
                .footer__logo-name {
                    fill: #fff;
                    margin-top: 13px;
                    width: 175px;
                    height: 20px;
                }
            }
            .footer__name {
                font-size: $fs-1;
                border-left: 0;
                width: 100%;
                padding: 0;
                justify-content: center;
                margin-bottom: 47px;
            }
            .footer__links {
                width: 217px;
            }
        }
    }
}