.form-request-price {
        background-color: #fff;
    .main__form-container {
        &.form-price {
            padding-top: 91px;
        }
        .main__form-desc {
            color: $color_2;
            max-width: 570px;
        }
        .form-request__block {
            margin-bottom: 18px;
            .inp {
                width: 30%;
                height: 69px;
                @extend %btn;
                background-color: $color_form1;
                padding-left: 30px;
                color: $color_2;
                &::placeholder {
                    color: $color_2;
                }

            }
            .tel,
            .name {
                border: solid 1px #fff;  
            }
            .btn {
                background-color: $color_3;
                color: #fff;
            } 
        }
        p {
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            img {
                display: inline-block;
                margin-right: 15px;
            }
            display: flex;
            color:$color_3;
            font-size: $fs-3;
        }
        
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $sm) and (max-width: $md) {
    .form-request-price {
        .main__form-container {
            padding: 56px 16px 30px;
            .main__form-desc {
                font-size: $fs-5;
                color: $color_2;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 38px;
            }
            .form-request__block {
                display: flex;
                flex-direction: column;
                margin-bottom: 38px;
                .inp {
                    width: 100%;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm) {
    .form-request-price {
        .main__form-container {
            padding: 56px 16px 30px;
            .main__form-desc {
                font-size: $fs-5;
                color: $color_2;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 38px;
            }
            .form-request__block {
                display: flex;
                flex-direction: column;
                margin-bottom: 38px;
                .inp {
                    width: 100%;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}