.main__form-request {
    &.form-request {
    background-color: $color_2;
    }
    .main__form-container {
        padding: 55px 16px;
        position: relative;
        z-index: 500;
        .form__rectangls-block {
            position: absolute;
            width: 395px;
            height: 295px;
            bottom: 0;
            right: 0;
            .rectangl_top {
                position: absolute;
                top: 0;
                right: 0;
            }
            .rectangl_bottom {
                position: absolute;
                bottom: 0;
                z-index: 2;
            }
            .form__imgLog {
                position: absolute;
                right: 95px;
                bottom: 145px;
                z-index: 101;
            }  
            .form__imgLog_2 {
                position: absolute; 
                top: -42px; 
                left:18px;
            }
            .rectangl_left {
                display: block;
                position: absolute;
                right: 300px;
                bottom: 340px;
                width: 74px;
                height: 55px;
            }
        }
        .main__form-desc {
            font-family: $main_font_r;
            font-size: $fs-7;
            color: #fff;
            font-weight: 700;
            line-height: 32.4px;
            max-width: 814px;
            margin-bottom: 47px;
            position: relative;
            z-index: 500;
        }
        p {
            position: relative;
            color: #fff;
            font-family: $main_font_r;
            font-size: $fs-1;
            z-index: 5;
        }
        
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $sm) and (max-width: $md) {
    .main__form-request {
        .main__form-container {
            padding: 36px 16px 0;
            .form__rectangls-block {
                position: relative;
                width: 316px;
                height: 200px;
                margin: 0 auto;
                margin-top: 60px;
                .rectangl_top {
                    position: absolute;
                    top: 25px;
                    right: 45px;
                    width: 95px;
                    height: 71px;
                }
                .rectangl_bottom {
                    position: absolute;
                    bottom: 0;
                    left: 35px;
                    z-index: 2;
                    width: 140px;
                    height: 104px;
                }
                .form__imgLog {
                    position: absolute;
                    right: 105px;
                    bottom: 45px;
                    z-index: 300;
                    width: 156px;
                    height: 152px;
                }  
                .form__imgLog_2 {
                    position: absolute; 
                    top: -5px; 
                    left: 45px;
                    width: 110px; 
                    height: 110px;
                } 
                .rectangl_left {
                    display: block;
                    position: absolute;
                    right: 300px;
                    top: 0;
                    width: 44px;
                    height: 33px;
                    z-index: 1;
                }
            }
            .main__form-desc {
                font-size: $fs-5;
                color: #fff;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 38px;
            }
            .form-request__block {
                display: flex;
                flex-direction: column;
                margin-bottom: 38px;
                .inp {
                    width: 100%;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm) {
    .main__form-request {
        .main__form-container {
            padding: 36px 16px 0;
            .form__rectangls-block {
                position: relative;
                width: 316px;
                height: 200px;
                margin: 0 auto;
                margin-top: 60px;
                .rectangl_top {
                    position: absolute;
                    top: 25px;
                    right: 10px;
                    width: 95px;
                    height: 71px;
                }
                .rectangl_bottom {
                    position: absolute;
                    bottom: 0;
                    left: 70px;
                    z-index: 2;
                    width: 140px;
                    height: 104px;
                }
                .form__imgLog {
                    position: absolute;
                    right: 70px;
                    bottom: 45px;
                    z-index: 300;
                    width: 156px;
                    height: 152px;
                }   
                .form__imgLog_2 {
                    position: absolute; 
                    top: -5px; 
                    left: 80px;
                    width: 110px; 
                    height: 110px;
                } 
                .rectangl_left {
                    display: block;
                    position: absolute;
                    right: 285px;
                    top: 0;
                    width: 44px;
                    height: 33px;
                    z-index: 1;
                }
            }
            .main__form-desc {
                font-size: $fs-5;
                color: #fff;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 38px;
            }
            .form-request__block {
                display: flex;
                flex-direction: column;
                margin-bottom: 38px;
                .inp {
                    width: 100%;
                    margin-bottom: 30px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}