// -----------------------------------------

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5000;
    transition-property: background-color;
    transition-duration: 0.2s;
    &._active-hed {
        background-color: $color_3;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color_2;
        height: 70px;
        padding: 0 10px;
        position: relative;
        @media only screen and (min-width: $md) and (max-width: $lg) {
            padding: 0 15px;
        }
        @media only screen and (min-width: $sm) and (max-width:  $md) {
            padding: 0 15px;
        }
        @media only screen and (min-width: $xs) and (max-width: $sm) {
            padding: 0 17px;
        }
    }

    &__logo {
        width: 150px;
        font-family: $secondary_font;
        font-weight: 400;
        font-size: 9.6px;
        @media only screen and (min-width: $md) and (max-width: $lg) {
            min-width: 130px;
        }
        @media only screen and (min-width: $sm) and (max-width:  $md) {
            z-index: 60;
            &._active {
                .header__logo-name {
                    svg {
                        width: 105px;
                        fill:#fff;
                        color: #fff;
                    }
                    span {
                        padding: 0;
                        span {
                            
                            display: block;
                            font-size: 12px;
                            font-family: $secondary_font;
                            font-weight: 700;
                            color: #fff;
                        }
                    }
                    
                }
                
            }
        }
        p {
            @media only screen and (min-width: $sm) and (max-width:  $md) {
                display: none;
            } 
        }
        @media only screen and (min-width: $xs) and (max-width: $sm) {
            z-index: 60;
                &._active {
                    .header__logo-name {
                        svg {
                            fill:#fff;
                            color: #fff;
                            width: 105px;
                        }
                        span {
                            padding: 0;
                            span {
                                width: 105px;
                                display: block;
                                font-size: 12px;
                                font-family: $secondary_font;
                                font-weight: 700;
                                color: #fff;
                            }
                        }
                        
                    }
                    
                }
                .header__logo-name {
                    svg {
                        width: 105px;
                    }
                    span {
                        padding: 0 ;
                        span {
                            display: block;
                            font-size: 12px;
                            font-family: $secondary_font;
                            font-weight: 700;
                            width: 105px;
                        }
                    }
                }
                p {
                    display: none;
                }
        }
    }

    &__logo-name {
        display: flex;
        align-items: center;
        text-decoration: none;
        span { 
            @media only screen and (min-width: $md) and (max-width: $lg) {
                padding-top: 12px;
            }
            @media only screen and (min-width: $sm) and (max-width:  $md) {
                padding-left: 5px;
            } 
            span {
                display: none;
                color: $color_2;
                @media only screen and (min-width: $sm) and (max-width:  $md) {
                    display: block;
                    font-size: 12px;
                    font-family: $secondary_font;
                    font-weight: 700;
                    color: $color_2;
                    padding: 0;
                } 
            }
            svg {
                @media only screen and (min-width: $md) and (max-width: $lg) {
                    width: 105.77px;
                } 
                @media only screen and (min-width: $sm) and (max-width:  $md) {
                    width: 105.77px;
                }  
            }
            padding-top: 12px;
        }
    }

    &__call {
        font-family: $main_font_r;
        min-width: 116px;
        @media only screen and (min-width: $xs) and (max-width:  $md) {
            display: none;
        }
        &:hover {
            a {
                p {
                    text-decoration: underline;
                }
                
            }
        }
        a {
            text-align: right;
            text-decoration: none;
            font-size: $fs-4;
            span {
                color: $color_2;
            }
            p {
                font-size: $fs-1;
                color: $color_3;
            }
            @media only screen and (min-width: $xs) and (max-width: $lg) {
                font-size: $fs-2;
            }  
        }
    }

    &__burger {
        display: none;
        @media only screen and (min-width: $md) and (max-width: $lg) {
            display: none;
        }  
        @media only screen and (min-width: $xs) and (max-width:  $md) {
            z-index: 5;
            display: block;
            position: relative;
            width: 16px;
            height: 11px;
            cursor: pointer; 
            span {
                top: 50%;
                transform: scale(1) translate(4px, -50%);
                left: 0;
                position: absolute;
                height: 10%;
                width: 77.7%;
                transition: all 0.4s ease 0s;
                background-color: $color_2;
                
            }
            &::before {
                content: "";
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.4s ease 0s;
                background-color: $color_2;
                top: 0;
            }
            &::after {
                content: "";
                left: 0;
                position: absolute;
                height: 10%;
                width: 100%;
                transition: all 0.4s ease 0s;
                background-color: $color_2;
                
                bottom: 0;
            }
        }
        &._active {
            @media only screen and (min-width: $xs) and (max-width:  $md) {
                span {
                    transform: scale(0) translate(0px, -50%);
                }
                &::before, &::after {
                    background-color: #fff;
                }
                &::before {
                    top: 50%;
                    transform: rotate(-45deg) translate(0px, -50%);
                    background-color: #fff;
                }
                &::after {
                    top: 50%;
                    transform: rotate(45deg) translate(0px, -50%);
                    background-color: #fff;
                }
            }
            
        }
    }
    .nav-header {
        @media only screen and (min-width: $xs) and (max-width:  $md) {
            &._active {
                right: 0;
                .nav-header__links {
                    .nav-header__link {
                        text-transform:inherit;
                        margin-top: 40px;
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
                &::before {
                    content: "";
                    position: fixed;
                    width: 100%;
                    top: 0;
                    left: 0;
                    height: 70px;
                    background-color: $color_3;
                }
                .nav__social-links {
                    min-width: 224px;
                    display: flex;
                    justify-content:space-between;
                    align-items: flex-start;
                    margin-top: 66px;
                }
                .back__call {
                    display: block;
                    margin-top: 157px;
                }
            }
        }
        &__links {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            font-weight: 700;
            @media only screen and (min-width: $xs) and (max-width:  $md) {
                display: flex;
                flex-direction: column;
            }
        }

        &__link {
            position: relative;
            display: flex; 
            flex-wrap: wrap;
            text-transform: uppercase;
            align-content: center;
            height: 100%;
            @media only screen and (min-width: $md) and (max-width: $lg) {
                margin: 0 5px;
                word-wrap: break-word;
            }
            @media only screen and (min-width: $sm) and (max-width:  $md) {
                font-size: $fs-7;
            }
            a {
                text-decoration: none;
                color: $color_2;
                @media only screen and (min-width: $md) and (max-width: $lg) {
                    text-decoration: none;
                    color: $color_2;
                }
            }
            &:hover {
                    &::before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 4px;
                        background-color: $color_3;
                        top: 0;
                    }
                   
            }
        }
        
    }
    &__nav {
        width: 630px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-family: $main_font_b;
        @media only screen and (min-width: $md) and (max-width: $lg) {
            padding: 0 20px;
        }
        @media only screen and (min-width: $xs) and (max-width:  $md) {
            display: flex;
            flex-direction: column !important;
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            transition: right 0.3s ease 0s;
            background-color: $color_3;
            color: #fff;
            padding: 72px 30px 50px;
            overflow: auto;
            align-items: flex-start;
            &._active {
                right: 0;
                .nav-header__links {
                    display: flex;
                    flex-direction: column !important;
                    .nav-header__link {
                        text-transform:inherit;
                        font-size: $fs-7;
                        margin-top: 40px;
                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                        &:hover {
                            border-top: 0; 
                            padding-bottom: 0;
                        }
                    }
                }
                &::before {
                    content: "";
                    position: fixed;
                    width: 100%;
                    top: 0;
                    left: 0;
                    height: 70px;
                    background-color: $color_3;
                }
                .nav__social-links {
                    svg {
                        margin-right: 61px;
                    }
                    display: flex;
                    justify-content:space-between;
                    align-items: flex-start;
                    margin-top: 66px;
                }
                .back__call {
                    width: 100%;
                    display: block;
                    margin-top: 157px;
                }
            }
        }
        

    }
    .nav {
        &__social-links {
            display: none;
        }
    }
    .back {

        &__call {
            display: none;
            @extend %btn;
            color: $color_3;
        }
    }
}

// -----------------------------------------
// .header {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 5000;
//     transition-property: background-color;
//     transition-duration: 0.2s;
//     &._active-hed {
//         background-color: $color_3;
//         .header__container {
//             .header__logo {
//                 svg {
//                     color:#fff;
//                 }
//                 color:#fff;
//             }
//         }
//     }
// }
// .header__container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     color: $color_2;
//     height: 70px;
//     padding: 0 10px;
//     position: relative;
    
//     .header__logo {
//         width: 150px;
//         font-family: $secondary_font;
//         font-weight: 400;
//         font-size: 9.6px;
//         .header__logo-name {
//             display: flex;
//             align-items: center;
//             text-decoration: none;
//             span { 
//                 span {
//                     display: none;
//                     color: $color_2;
//                 }
//                 padding-top: 12px;
//             }
//         }
//     }
//     .header__nav {
//         &.nav-header {
//         width: 630px;
//         height: 70px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         cursor: pointer;
//         font-family: $main_font_b;
//         }
//         .nav-header__links {
//             width: 100%;
//             height: 100%;
//             margin: 0;
//             padding: 0;
//             list-style: none;
//             display: flex;
//             justify-content: space-between;
//             font-size: 12px;
//             font-weight: 700;
//             .nav-header__link { 
//                 display: flex; 
//                 flex-wrap: wrap;
//                 text-transform: uppercase;
//                 align-content: center;
//                 height: 100%;
//                 transition-duration: 0.3s !important;
//                 transition-property: border-top, padding-bottom;
//                 a {
//                     text-decoration: none;
//                     color: $color_2;
//                 }
//                 &:hover {
//                     border-top: solid 4px $color_3; 
//                     padding-bottom: 5px;  
//                 }
//             }
//           }
//         .nav__social-links {
//             display: none;
//         }
//         .back__call {
//             display: none;
//             @extend %btn;
//             color: $color_3;
//         }
//     }
//     .header__call {
//         font-family: $main_font_r;
//         min-width: 116px;
//         &:hover {
//             a {
//                 p {
//                     text-decoration: underline;
//                 }
                
//             }
//         }
//         a {
//             text-align: right;
//             text-decoration: none;
//             font-size: $fs-4;
//             span {
//                 color: $color_2;
//             }
//             p {
//                 font-size: $fs-1;
//                 color: $color_3;
//             }
//         }
//     }
//     .header__burger {
//         display: none;
//     }
// }
 
// адаптив---------------------------------------------------------------------------

// @media only screen and (min-width: $md) and (max-width: $lg) {
//     .header {
//         .header__container {
//             padding: 0 15px;
//             .header__logo {
//                 min-width: 130px;
//                 .header__logo-name {
//                     span {
//                         padding-top: 12px;
//                         svg {
//                             width: 105.77px;
//                         }
//                     }
//                 }
//             }
//             .header__nav {
//                 &.nav-header {
//                     .nav-header__links {
//                         .nav-header__link {
//                             margin: 0 5px;
//                             word-wrap: break-word;
//                             a {
//                                 text-decoration: none;
//                                 color: $color_2;
//                             }
//                         }
//                     }
//                 }
//                 padding: 0 20px;
//             }
//             .header__call {
//                 a {
//                     font-size: $fs-2;
//                 }
                
                
//             }
//             .header__burger {
//                 display: none;
//             }
//         }
//     }
// }

// @media only screen and (min-width: $sm) and (max-width:  $md) {
//     .header {
//         .header__container {

//             padding: 0 15px;
//             .header__logo {
//                 z-index: 60;
//                 &._active {
//                     .header__logo-name {
//                         svg {
//                             width: 105px;
//                             fill:#fff;
//                             color: #fff;
//                         }
//                         span {
//                             padding: 0;
//                             span {
                                
//                                 display: block;
//                                 font-size: 12px;
//                                 font-family: $secondary_font;
//                                 font-weight: 700;
//                                 color: #fff;
//                             }
//                         }
                        
//                     }
                    
//                 }
//                 .header__logo-name {
//                     svg {
//                         width: 105px;
//                     }
//                     span {
                        
//                         span {
//                             display: block;
//                             font-size: 12px;
//                             font-family: $secondary_font;
//                             font-weight: 700;
//                             color: $color_2;
//                             padding: 0;
//                         }
//                         padding: 0 0 0 5px;
//                     }
//                 }
//                 p {
//                     display: none;
//                 }
//             }
//             .header__nav {
//                 &.nav-header {
//                     display: flex;
//                     flex-direction: column;
//                     position: fixed;
//                     top: 0;
//                     right: -100%;
//                     width: 100%;
//                     height: 100%;
//                     transition: right 0.3s ease 0s;
//                     background-color: $color_3;
//                     color: #fff;
//                     padding: 72px 30px 50px;
//                     overflow: auto;
//                     align-items: flex-start;
//                 }    
//                 &._active {
//                     right: 0;
//                     .nav-header__links {
//                         .nav-header__link {
//                             text-transform:inherit;
//                             margin-top: 40px;
//                             a {
//                                 text-decoration: none;
//                                 color: #fff;
//                             }
//                         }
//                     }
//                     &::before {
//                         content: "";
//                         position: fixed;
//                         width: 100%;
//                         top: 0;
//                         left: 0;
//                         height: 70px;
//                         background-color: $color_3;
//                     }
//                     .nav__social-links {
//                         min-width: 224px;
//                         display: flex;
//                         justify-content:space-between;
//                         align-items: flex-start;
//                         margin-top: 66px;
//                     }
//                     .back__call {
//                         display: block;
//                         margin-top: 157px;
//                     }
//                 }
                
//                 .nav-header__links {
//                     display: flex;
//                     flex-direction: column;
//                     .nav-header__link {
//                         font-size: $fs-7;
//                         &:hover {
//                             border-top: 0; 
//                             padding-bottom: 0;
//                         }
//                     }
//                 }
                
//             }
//             .header__burger {
//                 z-index: 5;
//                 display: block;
//                 position: relative;
//                 width: 16px;
//                 height: 11px;
//                 cursor: pointer;
//                 &._active {
//                     span {
//                         transform: scale(0) translate(0px, -50%);
//                     }
//                     &::before, &::after {
//                         background-color: #fff;
//                     }
//                     &::before {
//                         top: 50%;
//                         transform: rotate(-45deg) translate(0px, -50%);
//                         background-color: #fff;
//                     }
//                     &::after {
//                         top: 50%;
//                         transform: rotate(45deg) translate(0px, -50%);
//                         background-color: #fff;
//                     }
                    
//                 }
//                 span {
//                     top: 50%;
//                     transform: scale(1) translate(4px, -50%);
//                     left: 0;
//                     position: absolute;
//                     height: 10%;
//                     width: 77.7%;
//                     transition: all 0.4s ease 0s;
//                     background-color: $color_2;
                    
//                 }
//                 &::before {
//                     content: "";
//                     left: 0;
//                     position: absolute;
//                     height: 10%;
//                     width: 100%;
//                     transition: all 0.4s ease 0s;
//                     background-color: $color_2;
//                     top: 0;
//                 }
//                 &::after {
//                     content: "";
//                     left: 0;
//                     position: absolute;
//                     height: 10%;
//                     width: 100%;
//                     transition: all 0.4s ease 0s;
//                     background-color: $color_2;
                    
//                     bottom: 0;
//                 }
//             }
//         }
//     }
    
    
// }

// @media only screen and (min-width: $xs) and (max-width: $sm) {
//     .header {
//         &__container {
//             // padding: 0 17px;
//             // .header__logo {
//             //     // z-index: 60;
//             //     // &._active {
//             //     //     .header__logo-name {
//             //     //         svg {
//             //     //             fill:#fff;
//             //     //             color: #fff;
//             //     //             width: 105px;
//             //     //         }
//             //     //         span {
//             //     //             padding: 0;
//             //     //             span {
//             //     //                 width: 105px;
//             //     //                 display: block;
//             //     //                 font-size: 12px;
//             //     //                 font-family: $secondary_font;
//             //     //                 font-weight: 700;
//             //     //                 color: #fff;
//             //     //             }
//             //     //         }
                        
//             //     //     }
                    
//             //     // }
//             //     // .header__logo-name {
//             //     //     svg {
//             //     //         width: 105px;
//             //     //     }
//             //     //     span {
//             //     //         padding: 0 ;
//             //     //         span {
//             //     //             display: block;
//             //     //             font-size: 12px;
//             //     //             font-family: $secondary_font;
//             //     //             font-weight: 700;
//             //     //             width: 105px;
//             //     //         }
//             //     //     }
//             //     // }
//             //     // p {
//             //     //     display: none;
//             //     // }
//             // }
            
//             // .header__nav {
//             //     display: flex;
//             //     flex-direction: column !important;
//             //     position: fixed;
//             //     top: 0;
//             //     right: -100%;
//             //     width: 100%;
//             //     height: 100%;
//             //     transition: right 0.3s ease 0s;
//             //     background-color: $color_3;
//             //     color: #fff;
//             //     padding: 72px 30px 50px;
//             //     overflow: auto;
//             //     align-items: flex-start;
                
//             //     &._active {
//             //         right: 0;
//             //         .nav-header__links {
//             //             display: flex;
//             //             flex-direction: column !important;
//             //             .nav-header__link {
//             //                 text-transform:inherit;
//             //                 font-size: $fs-7;
//             //                 margin-top: 40px;
//             //                 a {
//             //                     text-decoration: none;
//             //                     color: #fff;
//             //                 }
//             //                 &:hover {
//             //                     border-top: 0; 
//             //                     padding-bottom: 0;
//             //                 }
//             //             }
//             //         }
//             //         &::before {
//             //             content: "";
//             //             position: fixed;
//             //             width: 100%;
//             //             top: 0;
//             //             left: 0;
//             //             height: 70px;
//             //             background-color: $color_3;
//             //         }
//             //         .nav__social-links {
//             //             svg {
//             //                 margin-right: 61px;
//             //             }
//             //             display: flex;
//             //             justify-content:space-between;
//             //             align-items: flex-start;
//             //             margin-top: 66px;
//             //         }
//             //         .back__call {
//             //             width: 100%;
//             //             display: block;
//             //             margin-top: 157px;
//             //         }
//             //     }
//             // }
//             .header__burger {
//                 // z-index: 5;
//                 // display: block;
//                 // position: relative;
//                 // width: 16px;
//                 // height: 11px;
//                 // cursor: pointer;
//                 // &._active {
//                 //     span {
//                 //         transform: scale(0) translate(0px, -50%);
//                 //     }
//                 //     &::before, &::after {
//                 //         background-color: #fff;
//                 //     }
//                 //     &::before {
//                 //         top: 50%;
//                 //         transform: rotate(-45deg) translate(0px, -50%);
//                 //         background-color: #fff;
//                 //     }
//                 //     &::after {
//                 //         top: 50%;
//                 //         transform: rotate(45deg) translate(0px, -50%);
//                 //         background-color: #fff;
//                 //     }
                    
//                 // }
//             //     span {
//             //         top: 50%;
//             //         transform: scale(1) translate(4px, -50%);
//             //         left: 0;
//             //         position: absolute;
//             //         height: 10%;
//             //         width: 77.7%;
//             //         transition: all 0.4s ease 0s;
//             //         background-color: $color_2;
                    
//             //     }
//             //     &::before {
//             //         content: "";
//             //         left: 0;
//             //         position: absolute;
//             //         height: 10%;
//             //         width: 100%;
//             //         transition: all 0.4s ease 0s;
//             //         background-color: $color_2;
//             //         top: 0;
//             //     }
//             //     &::after {
//             //         content: "";
//             //         left: 0;
//             //         position: absolute;
//             //         height: 10%;
//             //         width: 100%;
//             //         transition: all 0.4s ease 0s;
//             //         background-color: $color_2;
                    
//             //         bottom: 0;
//             //     }
//             // }
//             // .header__call {
//             //     display: none;
//             // }
           
//         }
//     }
// }   
