.main__installers {
    background-color: $color_form1;
    .main__installers-container {
        padding: 70px 0 150px;
        position: relative;
       .title__second {
        color: $color_2;
        margin-bottom: 78px;
       } 
       .installers__block {
           .fitter__block {
                .wave {
                    display: none;
                   }
                .fitter-photo {
                    width: 219px;
                    height: 219px;
                    border-radius: 50%;
                    border: 5px dashed $color_form2;
                    padding: 19px;
                    display: flex;
                    align-items: center;
                    flex-shrink: 0;
                    img {
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }
                .fitter-about {
                    width: 50%;
                    color:$color_form2;
                    margin-left: 54px;
                    font-family: $main_font_r;
                    padding-right: 30px;
                    h4 {
                        font-size: $fs-6;
                        line-height: 28px;
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: $fs-2;
                        line-height: $fs-4;
                    }
                    img {
                        margin-top: 26px;
                        padding: 9px;
                        border: solid 1px #000;
                    }
                }
           }
           
       }
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__installers {
        background-color: $color_form1;
        overflow: hidden;
        .main__installers-container {
            padding: 48px 16px 92px;
            position: relative;
           .title__second {
                color: $color_2;
                margin-bottom: 36px;
                width: 100%;
                font-size: $fs-7;
                line-height: 32.4px;
           } 
           .installers__block {
                flex-wrap: wrap;
               .fitter__block {
                    width: 100%;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-bottom: 46px;
                    position: relative;
                    .wave {
                        display: block;
                        position: absolute;
                        left: 265px;
                    }
                    .fitter-photo {
                        width: 219px;
                        height: 219px;
                        border-radius: 50%;
                        border: 5px dashed $color_form2;
                        padding: 19px;
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;
                        img {
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                    .fitter-about {
                        width: 50%;
                        color:$color_form2;
                        margin: 19px 0 46px ;
                        font-family: $main_font_r;
                        padding-right: 30px;
                        h4 {
                            font-size: $fs-6;
                            line-height: 28px;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: $fs-2;
                            line-height: $fs-4;
                        }
                    }
               }
               
           }
        }
    }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
    .main__installers {
        background-color: $color_form1;
        overflow: hidden;
        .main__installers-container {
            padding: 48px 16px 92px;
            position: relative;
           .title__second {
                color: $color_2;
                margin-bottom: 36px;
                width: 100%;
                font-size: $fs-7;
                line-height: 32.4px;
           } 
           .installers__block {
                flex-wrap: wrap;
               .fitter__block {
                    width: 100%;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-bottom: 46px;
                    position: relative;
                    .wave {
                        display: block;
                        position: absolute;
                        left: 265px;
                    }
                    .fitter-photo {
                        width: 219px;
                        height: 219px;
                        border-radius: 50%;
                        border: 5px dashed $color_form2;
                        padding: 19px;
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;
                        img {
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                    .wave {
                        display: block;
                        position: absolute;
                        left: 265px;
                    }
                    .fitter-about {
                        width: 50%;
                        color:$color_form2;
                        margin: 19px 0 46px ;
                        font-family: $main_font_r;
                        padding-right: 30px;
                        h4 {
                            font-size: $fs-6;
                            line-height: 28px;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: $fs-2;
                            line-height: $fs-4;
                        }
                    }
               }
               
           }
        }
    }
}

@media only screen and (max-width: $sm) {
    .main__installers {
        background-color: $color_form1;
        overflow: hidden;
        .main__installers-container {
            padding: 48px 16px 92px;
            position: relative;
           .title__second {
                color: $color_2;
                margin-bottom: 36px;
                width: 100%;
                font-size: $fs-7;
                line-height: 32.4px;
           } 
           .installers__block {
                flex-wrap: wrap;
               .fitter__block {
                    width: 100%;
                    align-items: flex-start;
                    flex-direction: column;
                    margin-bottom: 46px;
                    position: relative;
                    z-index: 100;
                    .wave {
                        display: block;
                        position: absolute;
                        left: 24px;
                        width: 746px;
                        height: 90px;
                        path {
                            stroke-width: 9px;
                            stroke-dasharray: 12px, 12px;
                        }
                    }
                    .fitter-photo {
                        width: 155px;
                        height: 155px;
                        border-radius: 50%;
                        border: 3px dashed $color_form2;
                        padding: 14px;
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;
                        img {
                            border-radius: 50%;
                            overflow: hidden;
                        }
                    }
                    
                    .fitter-about {
                        width: 80%;
                        color: $color_form2;
                        margin: 19px 0 46px ;
                        font-family: $main_font_r;
                        padding-right: 0;
                        &:last-child {
                            margin: 19px 0 0;
                        }
                        h4 {
                            font-size: $fs-5;
                            line-height: 24px;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: $fs-1;
                            line-height: $fs-3;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
               }
               
           }
           .form__rectangls-block {
                    width: 215px;
                    height: 159px;
                    .rectangl_bottom {
                        width: 128px;
                        height: 94px;
                   } 
                   .rectangl_top {
                        width: 87px;
                        height: 65px;
                   }
           }
        }
    }  
}