.main__manual {
    background-color: #fff;
    .manual-container {
        padding: 15px 0 100px;
        position: relative;
        .title__second {
            margin-bottom: 60px;
            width: 640px;
        }
        .manual-container__points {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            position: relative;
            .manual__point {
                min-width: 261px;
                margin: 0 20px 32px 0;
                &:nth-child(even) {
                    position: relative;
                    &::after {
                        content: url(../img/warranty/Vector\ 10.png);
                        position: absolute;
                        top: -10px;
                        left: 105px;
                    }
                }
                &:nth-child(odd) {
                    position: relative;
                    &::after {
                        content: url(../img/warranty/Vector\ 8.png);
                        position: absolute;
                        top: 40px ;
                        left: 95px;
                    }
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
                .manual__point-number {
                    width: 63px;
                    height: 71px;
                    margin:0 0 23px 20px;
                    background-color: $color_3;
                    transform: skew(151deg);
                    
                    p {
                        display: block;
                        text-align: center;
                        font-size: $fs-9;
                        line-height: 84px;
                        font-weight: 800;
                        font-family: $main_font_eb;
                        color: #fff;
                        transform: skew(-151deg);
                    }
                }
                .manual__point-title {
                    display: block;
                    font-size: $fs-4;
                    line-height: 21.6px;
                    font-weight: 700;
                    font-family: $main_font_b;
                    margin-bottom: 15px;
                    max-width: 261px;
                }
                p {
                    max-width: 261px;
                    font-family: $main_font_r;
                    font-size: $fs-1;
                }
            }
        }
    }
}

// адаптив---------------------------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__manual {
        .manual-container {
            padding: 0 16px 40px;
            position: relative;
            .title__second {
                margin-bottom: 25px;
                width: 100%;
                font-size: $fs-7;
            }
           
        }
    }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
    .main__manual {
        .manual-container {
            padding: 0 16px 40px;
            position: relative;
            .title__second {
                margin-bottom: 25px;
                width: 100%;
                font-size: $fs-7;
            }
            .manual-container__points {
                .manual__point {
                    min-width: 261px;
                    width: 100%;
                    margin: 0 0 32px 0;
                    border-top: 4px dashed $color_4;
                    display: flex;
                    &:nth-child(even) {
                        &::after {
                            display: none;
                        }
                    }
                    &:nth-child(odd) {
                        &::after {
                            display: none;
                        }
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                        padding-bottom: 32px;
                        border-bottom: 4px dashed $color_4;
                    }
                    .manual__point-number {
                        width: 63px;
                        height: 71px;
                        margin:28px 0 32px 20px;
                        background-color: $color_3;
                        transform: skew(151deg);
                        
                        p {
                            display: block;
                            text-align: center;
                            font-size: $fs-9;
                            line-height: 84px;
                            font-weight: 800;
                            font-family: $main_font_eb;
                            color: #fff;
                            transform: skew(-151deg);
                        }
                    }
                    .manual__point-desc {
                        width: 100%;
                        margin-left: 61px;
                        .manual__point-title {
                            display: block;
                            font-size: $fs-4;
                            line-height: 21.6px;
                            font-weight: 700;
                            font-family: $main_font_b;
                            margin: 28px 0 17px;
                            max-width: 100%;
                            width: 100%;
                        }
                        p {
                            max-width: 100%;
                            font-family: $main_font_r;
                            font-size: $fs-1;
                            height: 70%;
                        }
                    }
                    
                }
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm) {
    .main__manual {
        .manual-container {
            padding: 0 16px 8px;
            position: relative;
            .title__second {
                margin-bottom: 25px;
                width: 100%;
                font-size: $fs-7;
            }
            .manual-container__points {
                .manual__point {
                    min-width: 261px;
                    width: 100%;
                    margin: 0 0 32px 0;
                    border-top: 4px dashed $color_4;
                    display: flex;
                    &:nth-child(even) {
                        &::after {
                            display: none;
                        }
                    }
                    &:nth-child(odd) {
                        &::after {
                            display: none;
                        }
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                        padding-bottom: 32px;
                        border-bottom: 4px dashed $color_4;
                    }
                    .manual__point-number {
                        width: 69px;
                        height: 51px;
                        margin:28px 0 32px 20px;
                        background-color: $color_3;
                        transform: skew(151deg);
                        p {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                            font-size: $fs-6;
                            line-height: 84px;
                            font-weight: 800;
                            font-family: $main_font_eb;
                            color: #fff;
                            transform: skew(-151deg);
                        }
                    }
                    .manual__point-desc {
                        width: 100%;
                        margin-left: 37px;
                        .manual__point-title {
                            display: block;
                            font-size: $fs-4;
                            line-height: 21.6px;
                            font-weight: 700;
                            font-family: $main_font_b;
                            margin: 28px 0 17px;
                            max-width: 100%;
                            width: 100%;
                        }
                        p {
                            max-width: 100%;
                            font-family: $main_font_r;
                            font-size: 13px;
                            height: 70%;
                        }
                    }
                    
                }
            }
        }
    }
}

