.main__numbers {
    background-color: #fff;
    .main__numbers-container {
        padding: 76px 0 70px;
        .title__second {
            width: 100%;
        }
        .numbers__block {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .block-numbers__item {
                background-color: $color_form1;
                max-width: 314px;
                max-height: 314px;
                font-family: $main_font_r;
                padding: 85px 44px;
                &:nth-child(2) {
                    max-width: 380px;
                    max-height: 380px;
                    span {
                        font-size: 70px;
                    }
                    p {
                        font-size: $fs-6;
                    }
                }
                span {
                    color: $color_3;
                    font-size: 55px;
                    font-family: $main_font_eb;
                }
                p {
                    font-size: $fs-5;
                }
            }
            .block__likes {
                position: absolute;
                top: -38px;
                left: 50%;
                width: 94px;
                height: 123px;
                .container-likes {
                    width: 100%;
                    height: 100%;
                    .like_big {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 55px;
                        height: 56px;
                    }
                    .like_mid {
                        position: absolute;
                        width: 34px;
                        height: 34px;
                        right: 0;
                        bottom: 56px;
                    }
                    .like_small {
                        position: absolute;
                        width: 19px;
                        height: 21px;
                        bottom: 100px;
                        left: 50%;
                    }
                }
                
            }
        }
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__numbers {
        .main__numbers-container {
            padding: 67px 16px 50px;
            .title__second {
                width: 100%;
                font-size: $fs-7;
            }
            .numbers__block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                gap: 1rem;
            }
        }
    }
}

@media only screen and (min-width: $sm) and (max-width: $md)  {
    .main__numbers {
        .main__numbers-container {
            padding: 67px 16px 50px;
            .title__second {
                width: 100%;
                font-size: $fs-7;
            }
            .numbers__block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                gap: 1rem;
                .block-numbers__item {
                    background-color: $color_form1;
                    font-family: $main_font_r;
                    padding: 10px;
                    &:nth-child(2) {
                        span {
                            font-size: 50px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                    span {
                        color: $color_3;
                        font-size: 50px;
                        font-family: $main_font_eb;
                    }
                    p {
                        font-size: 13px;
                    }
                }
                .block__likes {
                    position: absolute;
                    top: -108px;
                    left: 70%;
                }
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm)  {
    .main__numbers {
        .main__numbers-container {
            padding: 67px 16px 50px;
            .title__second {
                width: 75%;
                font-size: $fs-7;
                margin-bottom: 37px;
            }
            .numbers__block {
                display: flex;
                justify-content: space-between;
                align-items:flex-start;
                position: relative;
                gap: 0;
                .block-numbers__item {
                    background-color: #fff;
                    font-family: $main_font_r;
                    padding: 10px;
                    width: 30%;
                    &:nth-child(2) {
                        span {
                            font-size: 50px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                    span {
                        color: $color_3;
                        font-size: 50px;
                        font-family: $main_font_eb;
                    }
                    p {
                        font-size: 13px;
                    }
                }
                .block__likes {
                    position: absolute;
                    top: -113px;
                    left: 80%;
                    width: 60px;
                    height: 78px;
                    .container-likes {
                        width: 100%;
                        height: 100%;
                        .like_big {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 35px;
                            height: 36px;
                        }
                        .like_mid {
                            position: absolute;
                            width: 22px;
                            height: 21px;
                            right: 0;
                            bottom: 36px;
                        }
                        .like_small {
                            position: absolute;
                            width: 12px;
                            height: 13px;
                            bottom: 65px;
                            left: 50%;
                        }
                    }
                    
                }
            }
        }
    }
}