/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}


.main__partners {
    .main__partners-container{
        padding: 75px 0 124px 15px;
        .title__second {
            width: 80%;
            margin-bottom: 54px;
        }
        .slick-list {
            .slick-track {
                justify-content: space-between;
            }
        }
        .main__partners-block {
            min-width: 0;
            position: relative;
            .slick-arrow {
                position: absolute;
                bottom: 280px;
                right: 0;
                z-index: 10;
                font-size: 0;
                width: 40px;
                height: 17px;
                border: 0;
                background-color: #fff;
                cursor: pointer;
                &.slick-prev {
                    background-image: url(../img/partners/arrow.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                    right: 100px;
                    
                }
                &.slick-next {
                    background-image: url(../img/partners/arrow.png);
                    transform: rotate(180deg);
                    background-repeat: no-repeat;
                    right: 27px;
                    background-size: 100%;
                }
            }
            
            .main__partner {
                max-width: 360px;
                min-height: 225px;
                padding: 34px 40px;
                margin-right: 30px;
                background-color: $color_form1;
                font-family: $main_font_r;
                font-size: $fs-5;
                line-height: 24px;
                // margin-left: 15px;
                &:last-child {
                    margin-right: 0;
                    // margin-left: 0;
                }
                p {
                    margin-top: 28px;
                }
            }
        }
    }
}


// адаптив---------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__partners {
        .main__partners-container{
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
            }
        }
    }
}


@media only screen and (min-width: $xs) and (max-width: $md) {
    .main__partners {
        .main__partners-container{
            padding: 56px 15px 70px;
            .title__second {
                width: 100%;
                margin-bottom: 45px;
                font-family: $main_font_b;
                font-size: $fs-7;
                line-height: 32.4px;
            }
            .main__partners-block {
                min-width: 230px;
                position: relative;
                
                .slick-arrow {
                   display: none !important;
                }
                .main__partner {
                    min-width: 152px;
                    min-height: 82px;
                    padding: 2px;
                    margin-right: 18px;
                    margin-bottom: 47px;
                    background-color: #fff;
                    &:last-child {
                        margin-right: 0;
                    }
                    img {
                        max-height: 37px;
                    }
                    p {
                        margin-top: 17px;
                        font-size: 13px;
                    }
                    
                }
                .slick-dots {
                    display: flex;
                    width: 228px;
                    margin-top: 7px;
                    position: relative;
                    list-style: none;
                    li {
                        &.slick-active {
                            button {
                                background-color: $color_2;
                            }
                        }
                        button {
                            text-decoration: none;
                            width: 38px;
                            height: 4px;
                            border-radius: 0;
                            border: 0px #fff;
                            font-size: 0;
                            margin-right: 25px;
                        }
                    }
                }
                
            }
        }
    }
}

