.main__payment {
    background-color: $color_2;
    position: relative;
    .container-payment {
        padding: 85px 10px 87px;
        .main__form-desc {
            position: relative;
            color: #fff;
            font-family: $main_font_r;
            font-size: $fs-7;
            font-weight: 400;
            line-height: 32.4px;
            margin-bottom: 45px;
            max-width: 1005px;
            z-index: 100;
            span {
                font-family: $main_font_b;
                font-weight: 700;
            }
        }
        .form-request__block {
            margin-bottom: 0;
        }
        .sub-desc {
            display: none;
        }
        .form__rectangls-block {
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            bottom: 0;
            z-index: 1;
            .rectangls {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                .rectangl_bottom {
                    position:absolute;
                    bottom: 0;
                    right: 210px;
                }
                .rectangl_top {
                    position:absolute;
                    bottom: 174px;
                    right: 51px;
                }
                .rectangl_left {
                    position:absolute;
                    top: -36px;
                    right: 50%;
                }
                .rectangl_keys {
                    position:absolute;
                    top: -15px;
                    right: 250px;
                }
            }
        }
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $sm) and (max-width: $md) {
    .main__payment {
        background-color: $color_2;
        position: relative;
        .container-payment {
            padding: 36px 16px 0;
            position: relative;
            .main__form-desc {
                color: #fff;
                font-family: $main_font_b;
                font-size: $fs-6;
                font-weight: 700;
                line-height: 32.4px;
                margin-bottom: 45px;
                max-width: 1005px;
                z-index: 100;
            }
            .form-request__block {
                margin-bottom: 0;
                flex-direction: column;
                align-items: center;
                .inp {
                    width: 80%;
                    margin-bottom: 33px;
                }
            }
            .form__rectangls-block {
                position: relative;
                width: 100%;
                height: 100%;
                right: 0;
                bottom: 0;
                z-index: 1;
                .rectangls {
                    width: 320px;
                    height: 218px;
                    z-index: 1;
                    margin: 0 auto;
                    .rectangl_bottom {
                        position:absolute;
                        bottom: 0;
                        right: 39px;
                    }
                    .rectangl_top {
                        position:absolute;
                        bottom: 174px;
                        left: 280px;
                    }
                    .rectangl_left {
                        position:absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm)  {
    .main__payment {
        background-color: $color_2;
        position: relative;
        .container-payment {
            padding: 36px 16px 0;
            position: relative;
            .main__form-desc {
                color: #fff;
                font-family: $main_font_b;
                font-size: $fs-6;
                font-weight: 700;
                line-height: 32.4px;
                margin-bottom: 45px;
                max-width: 1005px;
                z-index: 100;
            }
            .form-request__block {
                margin-bottom: 0;
                flex-direction: column;
                align-items: center;
                .inp {
                    width: 100%;
                    margin-bottom: 33px;
                }
            }
            .sub-desc {
                display: block;
                font-family: $main_font_r;
                font-size: $fs-1;
                color: #fff;
                z-index: 100;
                margin-bottom: 32px;
            }
            .form__rectangls-block {
                position: relative;
                width: 100%;
                height: 100%;
                right: 0;
                bottom: 0;
                z-index: 1;
                .rectangls {
                    width: 320px;
                    height: 218px;
                    z-index: 1;
                    margin: 0 auto;
                    .rectangl_bottom {
                        position:absolute;
                        bottom: 0;
                        right: 35%;
                        width: 128px;
                        height: 94px;
                    }
                    .rectangl_top {
                        position:absolute;
                        bottom: 94px;
                        left: 65%;
                        width: 87px;
                        height: 65px;
                    }
                    .rectangl_left {
                        position:absolute;
                        top: 0;
                        left: 0;
                        width: 44px;
                        height: 33px;
                    }
                    .rectangl_keys {
                        position: absolute;
                        bottom: 50%;
                        right: 35%;
                        width: 105px;
                        height: 105px;
                    }
                }
            }
        }
    }
}
