.main__questions-answers {
    background-color: #fff;
    position: relative;
    .questions-answers-container {
        padding: 22px 0 112px;
        .title__second {
            margin-bottom: 54px;
        }
        .questions-answers__block {
            position: relative;
            z-index: 5;
            .questions-answers__item {
                background-color: $color_form1;
                padding: 20px 55px 20px 42px;
                max-width: 847px;
                position: relative;
                cursor: pointer;
                margin-bottom: 20px;
                .questions-answers__arrow-block {
                    position: absolute;
                    right: 0;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 42px;
                    height: 100%;
                    z-index: 5;
                    transition-property: background-color, transform;
                    transition-duration: 0.4s;
                    &:hover {
                        background-color: $color_3;
                    }
                
                }
                .questions__item {
                    font-family: $main_font_r;
                    font-size: $fs-5;
                    line-height: $fs-6;
                    font-weight: 400;
                }
                .questions-answers__item-checkbox {
                    display: none;
                    &:checked ~ .answers__item{
                        display: block;
                        margin-top: 18px;
                    }
                    &:checked ~ .questions-answers__arrow-block {
                        background-color: $color_3;
                        img {
                            transform: rotate(180deg);
                        }
                    }
                    &:not(:checked) ~ .questions-answers__arrow-block {
                        background-color: $color_2;
                        img {
                            transform: rotate(360deg);
                        }
                    }
                    
                }
                .answers__item {
                    display: none;
                    font-size: $fs-1;
                    font-family: $main_font_r;
                    font-weight: 300;
                }
            }
        }
        .form__rectangls-block {
            width: 413px;
            height:100% ;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 3;
            .rectangls {
                position: relative;
                width: 100%;
                height: 100%;
                .rectangl_bottom {
                    position: absolute;
                    right: 213px;
                    top: 149px;
                }
                .rectangl_top {
                    position: absolute;
                    top: 57px;
                    right: 92px;
                }
                .img-questAnswer {
                    position: absolute;
                    top: 115px;
                    right: 18px;
                    width: 372px;
                    height: 582px;
                    z-index: 2;
                }
                .wave {
                    position: absolute;
                    bottom: 112px;
                    right: 0;
                    z-index: 1;
                }
            }
        }
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__questions-answers {
        .questions-answers-container {
            padding: 11px 16px 81px;
            .title__second {
                margin-bottom: 33px;
                font-size: $fs-7;
                line-height: 32.4px;
            }
        }
    }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
    .main__questions-answers {
        .questions-answers-container {
            padding: 11px 16px 81px;
            .title__second {
                width: 100%;
                margin-bottom: 33px;
                font-size: $fs-7;
                line-height: 32.4px;
            }
            .form__rectangls-block {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm) {
    .main__questions-answers {
        .questions-answers-container {
            padding: 11px 16px 81px;
            .title__second {
                width: 100%;
                margin-bottom: 33px;
                font-size: $fs-7;
                line-height: 32.4px;
            }
            .questions-answers__block {
                .slick-list {
                    height: 100% !important;
                    .questions-answers__item {
                        background-color: $color_form1;
                        padding: 30px;
                        max-width: 847px;
                        position: relative;
                        cursor: pointer;
                        margin-bottom: 0;
                        .questions-answers__arrow-block {
                            display: none;
                        }
                        .questions__item {
                            margin-bottom: 20px;
                        }
                        .answers__item {
                            display: block;
                        }
                        
                    }
                }
                .slick-dots {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-top: 50px;
                    position: relative;
                    list-style: none;
                    li {
                        &.slick-active {
                            button {
                                background-color: $color_2;
                            }
                        }
                        button {
                            text-decoration: none;
                            width: 46px;
                            height: 8px;
                            border-radius: 0;
                            border: 0px #fff;
                            font-size: 0;
                            margin-right: 25px;
                        }
                    }
                }
            }
            .form__rectangls-block {
                display: none;
            }
        }
    }
}