.main-reviews {
    background-color: #fff;
    .main__installers-container {
        padding: 55px 0 50px;
        .title__second {
            margin-bottom: 63px;
        }
        .block-body {
            padding: 10px;
            flex-wrap: wrap;
            .slick-dots {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 50px;
                position: relative;
                list-style: none;
                li {
                    &.slick-active {
                        button {
                            background-color: $color_2;
                        }
                    }
                    button {
                        text-decoration: none;
                        width: 46px;
                        height: 8px;
                        border-radius: 0;
                        border: 0px #fff;
                        font-size: 0;
                        margin-right: 25px;
                    }
                }
            }
            .slick-arrow {
            position: absolute;
            top: 106px;
            z-index: 10;
            font-size: 0;
            width: 40px;
            height: 17px;
            border: 0;
            background-color: #fff;
            cursor: pointer;
            &.slick-prev {
                background-image: url(../img/partners/arrow.png);
                background-repeat: no-repeat;
                background-size: 100%;
                right: 100px;
                
            }
            &.slick-next {
                background-image: url(../img/partners/arrow.png);
                transform: rotate(180deg);
                background-repeat: no-repeat;
                right: 27px;
                background-size: 100%;
            }
            }
            .slicl-list {
               overflow: hidden; 
            }
            .item-subblock {
                position: relative;
                padding: 36px 45px 35px;
                max-width: 555px;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                justify-content: flex-end;
                background-color: $color_form1;
                height: 100%;
                margin-right: 45px;
                .review-img__block {
                    width: 92px;
                    height: 100%;
                    display: flex;
                    align-self: stretch;
                    .review-img {
                        min-width: 92px;
                        border-radius: 50%;
                        padding: 10px;
                        border: solid 1px #000;
                    }
                }
                .review-desc__block {
                    padding: 0 0 0 37px;
                    width: calc(100% - 92px);
                    height: fit-content;
                    font-family: $main_font_r;
                    font-size: $fs-5;
                    line-height: $fs-6;
                    flex-direction: column;
                    .review__name-user {
                        width: 100%;
                        font-size: $fs-5;
                        margin-bottom: 5px;
                    }
                    .review__star-body {
                        width: 100%;
                        margin-bottom: 20px;
                        svg {
                            path {
                                fill:#FFDE67;
                            }
                        }
                    }
                }
                .review__desc-user {
                    padding-left: 37px;
                    width: calc(100% - 92px);
                    align-self: end;
                    font-family: $main_font_r;
                    font-size: $fs-1;
                    line-height: 17px;
                }
            }
        }
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main-reviews {
        .main__installers-container {
            padding: 55px 16px 50px;
            .title__second {
                margin-bottom: 32px;
            }
            .block-body {
                .slick-arrow {
                    position: absolute;
                    top: 85px;
                    z-index: 10;
                    font-size: 0;
                    width: 40px;
                    height: 17px;
                    border: 0;
                    background-color: #fff;
                    cursor: pointer;
                }
                .item-subblock {
                    padding: 10px;
                    margin-right: 15px;
                    margin-bottom: 0;
                    flex-direction: row;
                    .review-desc__block {
                        width: calc(100% - 92px);
                        align-self: center;
                        flex-direction: column;
                    }
                    .review__desc-user {
                        padding-left: 0;
                        width: 100%;
                        margin-top: 23px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
    .main-reviews {
        background-color: #fff;
        .main__installers-container {
            padding: 55px 16px 50px;
            .title__second {
                margin-bottom: 32px;
            }
            .block-body {
                padding: 10px;
                flex-wrap: wrap;
                
                .slick-list {
                   overflow: hidden; 
                }
                .item-subblock {
                    padding: 0;
                    background-color: #fff;
                    margin:0 0 25px;
                    width: 100% !important;
                    flex-direction: row;
                    display: flex !important;

                    .review-desc__block {
                        padding: 0 0 0 37px;
                        align-self: center;
                        flex-direction: column;
                        
                        .review-img__block {
                            width: 92px;
                            height: 100%;
                            display: flex;
                            align-self: stretch;
                            .review-img {
                                min-width: 92px;
                                border-radius: 50%;
                                padding: 10px;
                                border: solid 1px #000;
                            }
                        }
                        .review__name-user {
                            width: 100%;
                            font-size: $fs-5;
                            margin-bottom: 5px;
                        }
                        .review__star-body {
                            width: 100%;
                            margin-bottom: 20px;
                            svg {
                                path {
                                    fill:#FFDE67;
                                }
                            }
                        }
                    }
                    .review__desc-user {
                        padding-left: 0;
                        margin-top: 23px;
                        width: 100%;
                        align-self: end;
                        font-family: $main_font_r;
                        font-size: $fs-1;
                        line-height: 17px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $xs) and (max-width: $sm) {
    .main-reviews {
        background-color: #fff;
        .main__installers-container {
            padding: 55px 16px 50px;
            .title__second {
                margin-bottom: 32px;
            }
            .block-body {
                .slick-list {
                   overflow: hidden; 
                }
                .item-subblock {
                    padding: 0;
                    background-color: #fff;
                    margin-bottom: 43px !important;
                    width: 100% !important;
                    flex-direction: row;
                    display: flex !important;
                    .review-desc__block {
                        padding: 0 0 0 31px;
                    }
                    .review__desc-user {
                        padding-left: 0;
                        margin-top: 23px;
                        width: 100%;
                    }
                }
            }
        }
    }
}