.main__services {
    background-color: $color_form1;
    .services-container {
        padding: 60px 0 123px;
        .title__second {
            margin-bottom: 54px;
        }
        .services-container__block {
            display: flex;
            justify-content: space-between;
            .slick-list {
                .slick-track {
                    justify-content: space-between;
                }
            }
            .service-block {
                max-width: 360px;
                height: 660px;
                padding: 35px 41px;
                background-color: #fff;
                border-bottom: 9px solid $color_3;
                .service-block__top-title {
                    font-family: $main_font_b;
                    font-size: $fs-5;
                    line-height: 24px;
                    color: $color_3;
                    height: 100px;
                    border-bottom: 3px dashed $color_3;
                    margin-bottom: 47px;
                }
                .service-block__items {
                    margin-bottom: 18px;
                    .service-item {
                        margin-bottom: 30px;
                        color: $color_2;
                        font-family: $main_font_r;
                        font-size: $fs-3;
                        line-height: 19.2px;
                        span {
                            display: block; 
                            margin-top: 20px;
                            font-weight: 700;
                        }
                    }
                }
                .service-more {
                    font-family: $main_font_r;
                    font-weight: 700;
                    color: $color_3;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


// адаптив---------------------------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__services {
        background-color: $color_form1;
        .services-container {
            padding: 15px 16px;
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                margin-bottom: 54px;
            }
            .services-container__block {
                .service-block {
                    height: auto;
                    padding: 35px 32px;
                }
            }
        }
    }
}

@media only screen and (min-width: $sm) and (max-width:  $md) {
    .main__services {
        background-color: #fff;
        .services-container {
            padding: 15px 16px 70px;
            position: relative;
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                margin-bottom: 54px;
            }
            .services-container__block {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .slick-arrow {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 0;
                    width: 40px;
                    height: 16px;
                    border: 0;
                    background-color: #fff;
                    &.slick-prev {
                        top: 16px;
                        right: 96px;
                        background-image: url(../img/partners/arrow.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                    &.slick-next {
                        top: 17px;
                        right: 16px;
                        background-image: url(../img/partners/arrow.png);
                        background-repeat: no-repeat;
                        transform: rotate(180deg);
                        background-size: 100%;
                    }
                }
                .slick-list {
                    .slick-track {
                        display: flex;
                        justify-content: space-around;
                        .service-block {
                            max-width: 360px;
                            height: auto;
                            padding: 35px 32px;
                            background-color: $color_form1;
                            border-bottom: 9px solid $color_3;
                            .service-block__top-title {
                                font-family: $main_font_b;
                                font-size: $fs-5;
                                line-height: 24px;
                                color: $color_3;
                                height: 100px;
                                border-bottom: 3px dashed $color_3;
                                margin-bottom: 47px;
                            }
                            .service-block__items {
                                margin-bottom: 18px;
                                .service-item {
                                    margin-bottom: 30px;
                                    color: $color_2;
                                    font-family: $main_font_r;
                                    font-size: $fs-3;
                                    line-height: 19.2px;
                                    span {
                                        display: block; 
                                        margin-top: 20px;
                                        font-weight: 700;
                                    }
                                }
                            }
                            .service-more {
                                font-family: $main_font_r;
                                font-weight: 700;
                                color: $color_3;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}

@media only screen and (max-width: $sm) {
    .main__services {
        background-color: #fff;
        .services-container {
            padding: 15px 16px 70px;
            position: relative;
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                margin-bottom: 54px;
                width: 100%;
            }
            .services-container__block {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .slick-arrow {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 0;
                    width: 40px;
                    height: 16px;
                    border: 0;
                    background-color: #fff;
                    &.slick-prev {
                        top: 16px;
                        right: 96px;
                        background-image: url(../img/partners/arrow.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                    &.slick-next {
                        top: 17px;
                        right: 16px;
                        background-image: url(../img/partners/arrow.png);
                        background-repeat: no-repeat;
                        transform: rotate(180deg);
                        background-size: 100%;
                    }
                }
                .slick-list {
                    .slick-track {
                        display: flex;
                        justify-content: space-around;
                        .service-block {
                            max-width: 360px;
                            height: auto;
                            padding: 35px 32px;
                            background-color: $color_form1;
                            border-bottom: 9px solid $color_3;
                            .service-block__top-title {
                                font-family: $main_font_b;
                                font-size: $fs-5;
                                line-height: 24px;
                                color: $color_3;
                                height: 100px;
                                border-bottom: 3px dashed $color_3;
                                margin-bottom: 47px;
                            }
                            .service-block__items {
                                margin-bottom: 18px;
                                .service-item {
                                    margin-bottom: 30px;
                                    color: $color_2;
                                    font-family: $main_font_r;
                                    font-size: $fs-3;
                                    line-height: 19.2px;
                                    span {
                                        display: block; 
                                        margin-top: 20px;
                                        font-weight: 700;
                                    }
                                }
                            }
                            .service-more {
                                font-family: $main_font_r;
                                font-weight: 700;
                                color: $color_3;
                                text-decoration: none;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}