.main__slider {
    font-family: $main_font_r;
    font-weight: 400;
    background-image: url(../img/slider/slider.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position:center;
    position: relative;
    min-width: 100%;
    position: relative;
    .main__slider-container {
        padding: 10px 10px 173px;
        z-index: 50;
        position: relative;
        .main__slider-specialization {
            width: 63%;
            height: 100%;
            .main__slider-title {
                margin-bottom: 54px;
                padding-top: 136px;
                line-height: 54.8px;
                .title {
                    font-size: $fs-9;
                    font-weight: 400;
                    span {
                        font-weight: 700;
                        color: $color_3;
                    }
                }
                .sub__title {
                    margin-top: 30px;
                    font-size: $fs-4;
                    font-weight: 400;
                    line-height: 26.53px;
                }
            }
            .main__slider-benefits {
                display: flex;
                margin-left: 9px;
                margin-bottom: 122px;
                .slider-advantage {
                    display: flex;
                    align-items: center;
                    margin-right: 70px;
                    .advantage__rectangle {
                        overflow: hidden;
                        width: 38px;
                        height: 42.45px;
                        background-color: $color_3;
                        transform: skew(336deg);
                        display: flex;
                        .rectangle__logo {
                            position: relative;
                            top: 6px;
                            right: 10px;
                            transform: skew(24deg);
                            &.shield {
                                left: 5px;
                            }
                        }

                    }
                    .slider-advantage-text {
                        font-size: $fs-2;
                        line-height: 16.5px;
                        margin-left: 22px;
                        width: 165px;
                    }
                }
            }
            .main__slider-btn {
                @extend %btn;
                background-color: $color_3;
                color: #fff;
            }
        }
    }
    .slider-vector {
        display: none;
    }
}

// адаптив---------------------------------------------------------

@media only screen and (min-width: $lg) and (max-width: $xl) {
    .main__slider { 
        .main__slider-container {
            .main__slider-specialization {
                .main__slider-title {
                    .title {
                        font-size: $fs-8;
                        line-height: 40px;
                    }
                    .sub__title {
                        margin-top: 17px;
                        font-size: $fs-2;
                        line-height: 16.44px;
                    }
                }
                
                
            }
        }
        .slider-vector {
            display: none;
        }
    }
}

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__slider {
        background-position: right;
        padding: 25px;  
        .main__slider-container {
            .main__slider-specialization {
                .main__slider-title {
                    margin-bottom: 54px;
                    padding-top: 90px;
                    .title {
                        font-size: $fs-7;
                        line-height: 40px;
                    }
                    .sub__title {
                        margin-top: 17px;
                        font-size: $fs-2;
                        line-height: 16.44px;
                    }
                }
                .main__slider-benefits {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 47px;
                    .slider-advantage {
                        margin-bottom: 15px;
                    }
                }
                
            }
        }
        .slider-vector {
            display: none;
        }
    }
}


@media only screen and (min-width: $sm) and (max-width: $md) {
    .main__slider {
        background-position: right;
        padding: 25px;
        .main__slider-container {
            .main__slider-specialization {
                .main__slider-title {
                    margin-bottom: 54px;
                    padding-top: 90px;
                    .title {
                        font-size: $fs-7;
                        line-height: 40px;
                    }
                    .sub__title {
                        margin-top: 17px;
                        font-size: $fs-2;
                        line-height: 16.44px;
                    }
                }
                .main__slider-benefits {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 47px;
                    .slider-advantage {
                        margin-bottom: 15px;
                    }
                }
                
            }
        }
        .slider-vector {
            position: absolute;
            bottom: 19px;
            right: 50%;
        }
    }
}


@media only screen and (min-width: $xs) and (max-width: $sm) {
    .main__slider {
        margin-top: 65px;
        background-image: url(../img/slider/slider-mob.jpg);
        background-position: top;
        background-size: contain;
        background-attachment:scroll;
        background-repeat: no-repeat;
        padding: 0 17px;
        .main__slider-container {
            padding-bottom: 0;
            .main__slider-specialization {
                .main__slider-title {
                    margin-bottom: 54px;
                    padding-top: 30px;
                    .title {
                        font-size: $fs-5;
                        line-height: 27.4px;
                    }
                    .sub__title {
                        margin-top: 17px;
                        font-size: 12px;
                        line-height: 16.44px;
                    }
                }
                .main__slider-benefits {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 224px;
                    position: relative;
                    z-index: 100;
                    margin-bottom: 0;
                    .slider-advantage {
                        margin-bottom: 55px;
                    }
                }
                .main__slider-btn {
                    display: none;
                }
            }
        }
        .slider-vector {
            display: block;
            position: absolute;
            top: 348px;
            right: 50%;
        }
    }
}