@import 'reset.scss';
@import 'fonts.scss';
@import 'const.scss';
@import 'header.scss';
@import 'slider.scss';
@import 'about.scss';
@import 'benefits.scss';
@import 'form-request.scss';
@import 'partners.scss';
@import 'advantages.scss';
@import 'form-request-price.scss';
@import 'warranty.scss';
@import 'services.scss';
@import 'payment.scss';
@import 'example.scss';
@import 'staff.scss';
@import 'installers.scss';
@import 'numbers.scss';
@import 'manual.scss';
@import 'reviews.scss';
@import 'questions-answers.scss';
@import 'feedback.scss';
@import 'footer.scss';

body ._lock {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: $xl;
}

.title__second {
    font-family: $main_font_b;
    font-size: $fs-9;
    width: 540px;
    margin-bottom: 56px;
} 

.form-request__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    position: relative;
    z-index: 100;
    .inp {
        width: 30%;
        height: 69px;
        @extend %btn;
        background-color: $color_form2;
        color: #fff;
        padding-left: 30px;
        &::placeholder {
            color: #fff;
        }
        &:last-child {
            padding-left: 65px;
        }

    }
    .tel,
    .name {
        border: solid 2px $color_2;  
    }
    .btn {
        position: relative;
        @extend %btn;
        background-color: $color_3;
        color: #fff;
        z-index: 100;
    } 
}

.form__rectangls-block {
    position: absolute;
    right: 70px;
    bottom: 0;
    width: 267px;
    height: 200px;
    z-index: 5;
   .rectangl_bottom {
        position: absolute;
        bottom: 0;
        left: 0;
   } 
   .rectangl_top {
        position: absolute;
        top: 0;
        right: 0;
   }
}

.block-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .item-subblock {
        width: 50%;
        display: flex;
        align-items: center;
    }
}