.main__warranty {
    background-color: #fff;
    .warranty-container {
        padding: 49px 16px 184px;
        position: relative;
        
        .title__second {
            margin-bottom: 82px;
            width: 640px;
        }
        .warranty-container__guarantee-points {
            display: flex;
            justify-content: space-between;
            z-index: 500;
            position: relative;
            .guarantee-point {
                &:nth-child(even) {
                    margin-top: 32px;
                    position: relative;
                    &::after {
                        content: url(../img/warranty/Vector\ 10.png);
                        position: absolute;
                        bottom: 250px;
                        left: 100px;
                    }
                }
                &:nth-child(odd) {
                    position: relative;
                    &::after {
                        content: url(../img/warranty/Vector\ 8.png);
                        position: absolute;
                        bottom: 200px;
                        left: 100px;
                    }
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
                .year {
                    p {
                        height: 80px;
                        font-size: 70px;
                        line-height: 84px;
                        font-weight: 800;
                        font-family: $main_font_eb;
                        color: $color_3;
                        
                    }
                }
                span {
                    display: block;
                    font-size: $fs-4;
                    line-height: 21.6px;
                    font-weight: 700;
                    font-family: $main_font_b;
                    text-transform: uppercase;
                    margin-bottom: 54px;
                }
                p {
                    width: 165px;
                    font-family: $main_font_r;
                    font-size: $fs-6;
                }
            }
        }
        .form__rectangls-block {
            position: absolute;
            right: 0;
            bottom: 117px;
            width: 486px;
            height: 411px;
            z-index: 2;
            .rectangls {
                width: 100%;
                height: 100%;
                position: relative;
                .rectangl_bottom {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 290px;
                    height: 216px;
                }
                .rectangl_top {
                    position: absolute;
                    bottom: 215px;
                    left: 290px;
                    width: 195px;
                    height: 145px;
                }
                .rectangl_left {
                    position: absolute;
                    top: 0;
                    left: 95px;
                    width: 103px;
                    height: 77px;
                }
            }
        }
    }
}

// адаптив---------------------------------------------------------------------------

@media only screen and (min-width: $md) and (max-width: $lg) {
    .main__warranty {
        background-color: #fff;
        .warranty-container {
            padding: 12px 16px 100px;
            position: relative;
            
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                width: 100%;
            }
            .warranty-container__guarantee-points {
                display: flex;
                justify-content: space-between;
                z-index: 500;
                position: relative;
                .guarantee-point {
                    &:nth-child(even) {
                        margin-top: 32px;
                        position: relative;
                        &::after {
                            display: none;
                        }
                    }
                    &:nth-child(odd) {
                        position: relative;
                        &::after {
                            display: none;
                        }
                    }
                    .year {
                        p {
                            height: 80px;
                            font-size: 60px;
                            line-height: 84px;
                            font-weight: 800;
                            font-family: $main_font_eb;
                            color: $color_3;
                            
                        }
                    }
                    span {
                        display: block;
                        font-size: $fs-4;
                        line-height: 21.6px;
                        font-weight: 700;
                        font-family: $main_font_b;
                        text-transform: uppercase;
                        margin-bottom: 54px;
                    }
                    p {
                        width: 165px;
                        font-family: $main_font_r;
                        font-size: $fs-5;
                    }
                }
            }
            .form__rectangls-block {
                position: absolute;
                right: 0;
                bottom: 55px;
                width: 440px;
                height: 298px;
                z-index: 2;
                .rectangls {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .rectangl_bottom {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 240px;
                        height: 204px;
                    }
                    .rectangl_top {
                        position: absolute;
                        bottom: 190px;
                        left: 240px;
                        width: 185px;
                        height: 141px;
                    }
                    .rectangl_left {
                        position: absolute;
                        top: -32px;
                        left: 0;
                        width: 84px;
                        height: 63px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $sm) and (max-width:  $md) {
    .main__warranty {
        background-color: #fff;
        .warranty-container {
            padding: 12px 16px 100px;
            position: relative;
            
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                width: 100%;
            }
            .warranty-container__guarantee-points {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                z-index: 500;
                position: relative;
                .guarantee-point {
                    margin-right: 0 71px 35px 0;
                
                    &:nth-child(even) {
                        margin-top: 0;
                        position: relative;
                        &::after {
                            display: none;
                        }
                    }
                    &:nth-child(odd) {
                        position: relative;
                        &::after {
                            display: none;
                        }
                    }
                    .year {
                        height: 50px;
                        p {
                            height: 80px;
                            font-size: 50px;
                            line-height: 60px;
                            font-weight: 800;
                            font-family: $main_font_eb;
                            color: $color_3;
                            
                        }
                    }
                    span {
                        display: block;
                        font-size: $fs-1;
                        line-height: 16.8px;
                        font-weight: 700;
                        font-family: $main_font_b;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    }
                    p {
                        width: 165px;
                        font-family: $main_font_r;
                        font-size: $fs-3;
                    }
                }
            }
            .form__rectangls-block {
                position: absolute;
                right: 0;
                bottom: 55px;
                width: 240px;
                height: 180px;
                z-index: 1;
                .rectangls {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .rectangl_bottom {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 140px;
                        height: 104px;
                    }
                    .rectangl_top {
                        position: absolute;
                        bottom: 103px;
                        left: 140px;
                        width: 95px;
                        height: 71px;
                    }
                    .rectangl_left {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 44px;
                        height: 33px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $sm) {
    .main__warranty {
        background-color: #fff;
        .warranty-container {
            padding: 12px 16px 100px;
            position: relative;
            
            .title__second {
                font-size: $fs-7;
                line-height: 32.4px;
                width: 100%;
            }
            .warranty-container__guarantee-points {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                z-index: 500;
                position: relative;
                .guarantee-point {
                    margin-right: 0 71px 35px 0;
                
                    &:nth-child(even) {
                        margin-top: 0;
                        position: relative;
                        &::after {
                            display: none;
                        }
                    }
                    &:nth-child(odd) {
                        position: relative;
                        &::after {
                            display: none;
                        }
                    }
                    .year {
                        height: 50px;
                        p {
                            height: 80px;
                            font-size: 50px;
                            line-height: 60px;
                            font-weight: 800;
                            font-family: $main_font_eb;
                            color: $color_3;
                            
                        }
                    }
                    span {
                        display: block;
                        font-size: $fs-1;
                        line-height: 16.8px;
                        font-weight: 700;
                        font-family: $main_font_b;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                    }
                    p {
                        width: 165px;
                        font-family: $main_font_r;
                        font-size: $fs-3;
                    }
                }
            }
            .form__rectangls-block {
                position: absolute;
                right: 0;
                bottom: 55px;
                width: 240px;
                height: 180px;
                z-index: 1;
                .rectangls {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .rectangl_bottom {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 140px;
                        height: 104px;
                    }
                    .rectangl_top {
                        position: absolute;
                        bottom: 103px;
                        left: 140px;
                        width: 95px;
                        height: 71px;
                    }
                    .rectangl_left {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 44px;
                        height: 33px;
                    }
                }
            }
        }
    }
}