/* Подключенные шрифты =============================================*/

@font-face {
  font-family: "Gilroy";
  src: local("☺"),
    url("../fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: local("☺"), url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* ==================================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy";
}

img {
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 34px;
}

p {
  font-size: 18px;
  font-weight: 500;
}

h1,
h2 {
  font-weight: 700;
  color: #000;
}

body._lock {
  overflow: hidden;
}

/*  общий контейнер =============================================*/

@media (min-width: 1024px) {
  .container {
    width: 940px;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

/* хедер =======================================================*/

.header {
  position: fixed;
  z-index: 500;
  background-color: #fff;
  left: 0;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 33px 0;
  border-bottom: 2px solid #828282;
}

.header-nav__link {
  font-size: 18px;
  font-weight: 700;
  color: #828282;
  transition-property: color, font-weight;
  transition-duration: 0.4s;
}

.header-nav__link:hover {
  color: black;
}

/* бургер */

.header__icon-nav {
  display: none;
}

@media (max-width: 767px) {
  .header__icon-nav {
    z-index: 10;
    display: block;
    position: absolute;
    width: 35px;
    height: 19px;
    right: 30px;
    top: 68px;
    padding: 15px;
  }
  .header__icon-nav span,
  .header__icon-nav::before,
  .header__icon-nav::after {
    position: absolute;
    right: 0;
    width: 100%;
    height: 4px;
    transition-duration: 0.4s;
    background-color: #000;
  }
  .header__icon-nav::before,
  .header__icon-nav::after {
    content: "";
  }
  .header__icon-nav::before {
    top: 0;
  }
  .header__icon-nav::after {
    bottom: 0;
  }
  .header__icon-nav span {
    top: 50%;
    transform: translate(0px, -50%);
  }
  .header-nav {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 66px 28px 57px 26px;
    flex-direction: column;
    justify-content: flex-start;
    transition-duration: 0.4s;
  }
  .header-nav__link {
    font-size: 34px;
    margin-bottom: 68px;
  }
  .header-nav__link:last-child {
    margin-bottom: 0;
  }
  .home__lang {
    position: fixed;
    z-index: 501;
    right: -100px;
    bottom: 107px;
    font-size: 34px;
    transform: rotate(90deg);
  }
  .header-nav._active {
    left: 0;
  }
  .home__lang._active {
    right: -28px;
  }
}

/* адаптация */

/* Майн ===================================================== */
.main {
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

/* домашняя ===================================================== */

.home {
  padding-bottom: 105px;
}

.home__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 128px 0 50px 0;
}

.home__name {
  font-size: 47px;
  font-weight: 700;
  line-height: 59px;
}

.home__profession {
  line-height: 22px;
}

.home__lang-link {
  color: #828282;
  transition-property: color, font-weight;
  transition-duration: 0.4s;
}
.home__lang-link:hover {
  color: black;
  font-weight: 700;
}

/* адаптация */

@media (max-width: 459px) {
  .home__info {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 37px;
    padding-top: 65px;
  }
  .home__name {
    margin-bottom: 23px;
  }
}
@media (min-width: 768px) {
  .home__lang {
    font-size: 18px;
    writing-mode: tb-rl;
    transform: rotate(180deg);
  }
}

/* аватар ===================================================== */

.home__avatar {
  width: 100%;
  height: 387px;
  background: url(../imgs/avatar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

/* адаптация */

@media (max-width: 767px) {
  .home__avatar {
    width: 100%;
    height: 478px;
    padding: 0 20px;
    background: url(../imgs/avatar-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* обо мне ===================================================== */

.about-me-container {
  background: #f6f6f6;
}

.about-me__text {
  text-align: center;
  padding: 120px 228px 107px;
}

.about-me__text .title {
  margin-bottom: 35px;
}

.about-me__text .description {
  margin-bottom: 48px;
}

.about-me__text p:last-child {
  margin-bottom: 0;
}

/* адаптация */

@media (max-width: 767px) {
  .about-me__text {
    padding: 81px 30px 76px;
  }
}

/* скилы ===================================================== */

.skills-container {
  display: flex;
  flex-wrap: wrap;
  padding: 91px 0 110px;
  justify-content: space-between;
}

.skills__text {
  width: 940px;
  text-align: center;
}

.skills__text .title {
  margin-bottom: 70px;
}

.skills__text .description {
  margin-bottom: 83px;
}

.skills__text .name-prog {
  font-size: 14px;
  font-weight: 700;
}

.skills__prog {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo-prog {
  margin-bottom: 28px;
}

.name-prog {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 40px;
  color: #828282;
  transition-property: color;
  transition-duration: 0.4s;
}

.skills__prog:hover .name-prog {
  color: #000;
}

/* адаптация */

@media (max-width: 319px) {
  .skills-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills__prog:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .skills-container {
    justify-content: space-around;
  }
  .skills {
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills__prog {
    margin: 0 20px 80px 20px;
  }
}

@media (min-width: 320px) and (max-width: 1023px) {
  .skills-container {
    padding: 83px 20px;
  }
}

/* портфолио ===================================================== */

.portfolio {
  padding-top: 113px;
  background-color: #f6f6f6;
}

.portfolio-container {
  display: flex;
  padding-bottom: 99px;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-container .title {
  margin-bottom: 62px;
}

.portfolio-container .description {
  margin-top: 45px;
  cursor: pointer;
}

.portfolio-container .description:hover {
  text-decoration: underline;
}

.fashion {
  height: 510px;
  background: url(../imgs/portfolio/fashion.jpg);
}

.reebok {
  height: 522px;
  background: url(../imgs/portfolio/reebok.jpg);
}

.braun {
  height: 522px;
  background: url(../imgs/portfolio/braun.jpg);
}

.portfolio__img {
  display: inline-block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* адаптация */

@media (min-width: 460px) and (max-width: 767px) {
  .fashion {
    height: 410px;
  }

  .reebok {
    height: 410px;
  }

  .braun {
    height: 410px;
  }
}

@media (min-width: 320px) and (max-width: 459px) {
  .fashion {
    height: 210px;
  }

  .reebok {
    height: 210px;
  }

  .braun {
    height: 210px;
  }
}
@media (max-width: 319px) {
  .fashion {
    height: 171px;
  }

  .reebok {
    height: 176px;
  }

  .braun {
    height: 176px;
  }
}

/* футер =========================================== */

.footer {
  background: #fff;
}

.footer__contacts {
  padding: 114px 0 123px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer__contacts .title {
  margin-bottom: 37px;
}

.footer__contacts .description {
  margin-bottom: 30px;
}

.footer__button {
  background-color: #000;
  padding: 13px 28px;
  border-radius: 35px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  transition-property: box-shadow, color, background-color;
  transition-duration: 0.4s;
}

.footer__button:hover {
  box-shadow: 0 0 5px black;
  color: #000;
  background-color: #fff;
}

.footer__contact-links {
  background-position: center;
  background-size: contain;
  background: url(../imgs/footer/links-contact.png);
  background-repeat: no-repeat;
  width: 340px;
  height: 40px;
  margin-top: 80px;
  margin-bottom: 46px;
}

.name-links {
  font-size: 14px;
  font-weight: 500;
  color: #828282;
}

/* адаптация */

@media (max-width: 459px) {
  .name-links {
    font-size: 18px;
  }
  .footer__contact-links {
    width: 315px;
    height: 40px;
  }
}
