<header class="header">
    <div class="header__top top-header">
        <div class="top-header__container">
            <div class="top-header__menu menu">
                <nav class="menu__list">
                    <a href="" class="menu__link">Главная</a>
                    <a href="" class="menu__link">О компании</a>
                    <a href="" class="menu__link">Каталог</a>
                    <a href="" class="menu__link">Покупателям</a>
                    <a href="" class="menu__link">Доставка и оплата</a>
                    <a href="" class="menu__link">Акции</a>
                    <a href="" class="menu__link">Блог</a>
                    <a href="" class="menu__link">Контакты</a>
                </nav>
            </div>
            <div class="top-header__social social">
                <a href="" class="social__link _icon-vk"></a>
                <a href="" class="social__link _icon-insta"></a>
                <a href="" class="social__link _icon-whatsup"></a>
            </div>

           
        </div>
        <button type="button" class="burger-menu"><span></span></button>   
    </div>
    <div class="header__body body-header">
        <div class="body-header__container">
            <a href="" class="body-header__logo logo-header">
                    <img class="logo-header__logo" src="./img/header/full logo name.svg" alt="">
            </a>
            <div class="body-header__search search-header">
                <form action="" class="search-header__form">
                    <input type="text" placeholder="Что вы ищите?" class="search-header__input">
                    <button class="search-header__button _icon-search"></button>
                </form>
            </div>
            <div class="body-header__actions actions-header">
                <div class="actions-header__contacts">
                    <span class="_icon-call"></span><a href="tel:+78005548970" class="actions-header__tel">8 (800) 554 89 70</a> 
                    <span class="_icon-mail"></span><a href="mailto:info@neyro-t.ru" class="actions-header__mail">info@neyro-t.ru</a>
                    <p><span>Время работы:</span> 07:00 - 19:00 по МСК</p>
                </div>
                <div class="actions-header__personal-account">
                    <span class="_icon-user"></span>
                    <span class="_icon-cart"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="header__catalog catalog-header"></div>
</header>