body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  padding-left: 50px;
  padding-right: 50px;
  background-color: grey;
  background-image: url("../img/bg.jpg");
}
/* аватарка */
.round {
  width: 230px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(82, 50, 50, 0.7);
}
/* Общий блок */
.block {
  background-color: rgba(255, 255, 255, 0.3);
  display: grid;
  grid-auto-columns: minmax(100px, auto);
  margin: 0 auto;
}

.block1 {
  grid-column: 1/4;
  background-color: rgba(165, 42, 42, 0.7);
  text-align: center;
  margin-bottom: 15px;
}

.block2 {
  grid-column: 1/1;
  margin-left: 50px;
  margin-top: 40px;
}
/* описание и текст */
.block3 {
  grid-column: 2/4;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 20px;
  align-content: center;
}
/* Таблица */
.block4 {
  margin-top: 50px;
  grid-column: 1/4;
}

table {
  border: 1px solid rgb(107, 23, 23);
  border-collapse: collapse;
  width: 100%;
  height: 200px;
}

thead {
  background-color: rgba(165, 42, 42, 0.7);
  text-align: center;
}
td {
  border: 1px solid brown;
  text-align: center;
}
th {
  padding: 10px 0 10px 0;
}
