$color_1: #E5E5E5;
$color_2: #292929;
$color_3: #333333;
$color_4: #F07FAE;

$fs-1: 15px;
$fs-2: 16px;
$fs-3: 18px;
$fs-4: 20px;
$fs-5: 22px;
$fs-6: 30px;
$fs-7: 50px;
$fs-8: 60px;

$font_b: "Bloggersansbold";
$font_m: "Bloggersansmedium";
$font_r: "Bloggersans";

$xs:319.98px; 
$sm:575.98px; 
$md:767.98px; 
$lg:991.98px; 
$xl:1170px;




