/* font-family: "bloggersans"; */
@font-face {
  font-family: 'Bloggersansbold';
  src: local('../fonts/bloggersans/bloggersansbold'), local('../fonts/bloggersans/bloggersansbold');
  src: url('../fonts/bloggersans/bloggersansbold.eot');
  src: url('../fonts/bloggersans/bloggersansbold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bloggersans/bloggersansbold.woff') format('woff'),
      url('../fonts/bloggersans/bloggersansbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bloggersansmedium';
  src: url('bloggersansmedium.eot');
  src: url('bloggersansmedium.eot?#iefix') format('embedded-opentype'),
      url('bloggersansmedium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bloggersans';
  src: url('../fonts/bloggersans/Bloggersans.eot');
  src: url('../fonts/bloggersans/Bloggersans.eot?#iefix') format('embedded-opentype'),
      url('../fonts/bloggersans/Bloggersans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icon';
  src:  url('../fonts/icons/icon.eot?t8a6yu');
  src:  url('../fonts/icons/icon.eot?t8a6yu#iefix') format('embedded-opentype'),
    url('../fonts/icons/icon.ttf?t8a6yu') format('truetype'),
    url('../fonts/icons/icon.woff?t8a6yu') format('woff'),
    url('../fonts/icons/icon.svg?t8a6yu#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}
._icon-call:before {
  content: "\e901";
  color: #f07fae;
}
._icon-cart:before {
  content: "\e902";
}
._icon-delivery:before {
  content: "\e903";
  color: #f07fae;
}
._icon-garanty:before {
  content: "\e904";
  color: #f07fae;
}
._icon-insta:before {
  content: "\e905";
}
._icon-mail:before {
  content: "\e906";
  color: #f07fae;
}
._icon-return:before {
  content: "\e907";
  color: #f07fae;
}
._icon-search:before {
  content: "\e908";
}
._icon-user:before {
  content: "\e909";
}
._icon-vk:before {
  content: "\e90a";
}
._icon-whatsup:before {
  content: "\e90b";
}


