.header {

    &__top {
        background-color: #fff;
        color: #707070;
    }

    &__body {

    }
}

// ===============================

.top-header {
    position: relative;
    height: 50px;
    width: 100%;
    z-index: 4;
    &__container {
        max-width: $xl;
        margin: 0 auto;
        font-family: 'Bloggersans';
        font-size: $fs-2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 16px;
        border-bottom: 1px solid #eee;

        @media only screen and (min-width: $md) and (max-width: $lg) {
            font-size: $fs-1;
        }

        @media only screen and (max-width: $md) {
            position: relative;
            z-index: 5;
            left: 100%;
            &._active {
                transition-duration: 0.5s;
                transition-property: all;
                background-color: #fff;
                height: 100vh;
                width: 273px;
                left: 0;
                margin-right: 0;
                flex-direction: column;
                justify-content: start;
                align-items: flex-start;
                padding: 31px 0px 22px 30px;
            }
            
        }
    }
}

.menu {
    

    &__list {
        display: flex;
        flex-wrap: wrap;
        padding-right: 15px;
        
        @media only screen and (max-width: $md) {
            display: flex;
            flex-direction: column;
        }
    }

    &__link {
        white-space: nowrap;
        cursor: pointer;
         
        &:hover {
            color: $color_4;
        }

        @media only screen and (max-width: $md) {
            margin-bottom: 25px;
            color: $color_3;
            
        }
        &:not(:last-child) {
            margin-right: 35px;

            @media only screen and (min-width: $md) and (max-width: $lg) {
                margin-right: 17px;
            }
        }
    }
}
    
.burger-menu {
    display: none;

    @media only screen and (min-width: $md) and (max-width: $lg) {
        display: none;
    }  

    @media only screen and (min-width: $xs) and (max-width:  $md) {
        z-index: 6;
        display: block;
        position: absolute;
        right: 15px;
        top: 33px;
        padding: 9px;
        cursor: pointer; 
        border: 0;
        span {
            top: 50%;
            transform: scale(1) translate(0, -50%);
            left: 0;
            position: absolute;
            height: 4px;
            width: 20px;
            border-radius: 5px;
            transition: all 0.4s ease 0s;
            background-color: #000;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            -webkit-transform: scale(1) translate(0, -50%);
            -moz-transform: scale(1) translate(0, -50%);
            -ms-transform: scale(1) translate(0, -50%);
            -o-transform: scale(1) translate(0, -50%);
}
        &::before {
            content: "";
            left: 0;
            position: absolute;
            height: 4px;
            width: 20px;
            transition: all 0.4s ease 0s;
            background-color: #000;
            border-radius: 5px;
            top: 0;
        }
        &::after {
            content: "";
            left: 0;
            position: absolute;
            height: 4px;
            width: 20px;
            transition: all 0.4s ease 0s;
            background-color: #000;
            border-radius: 5px;
            bottom: 0;
        }
    }

    &._active {
        @media only screen and (min-width: $xs) and (max-width:  $md) {
            background-color: #fff;
         
            span {
                transform: scale(0) translate(0px, -50%);
            }

            &::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -20%);
                -webkit-transform: rotate(-45deg) translate(0px, -20%);
                -moz-transform: rotate(-45deg) translate(0px, -20%);
                -ms-transform: rotate(-45deg) translate(0px, -20%);
                -o-transform: rotate(-45deg) translate(0px, -20%);
}

            &::after {
                top: 50%;
                transform: rotate(45deg) translate(0px, -20%);
                -webkit-transform: rotate(45deg) translate(0px, -20%);
                -moz-transform: rotate(45deg) translate(0px, -20%);
                -ms-transform: rotate(45deg) translate(0px, -20%);
                -o-transform: rotate(45deg) translate(0px, -20%);
}
        }
        
    }
}

.social {
    color: $color_3;
    padding: 0 5px;
    min-width: 98px;
    display: flex;
    justify-content: space-between;
    
    @media only screen and (max-width: $md) {
        // left: 100%;
    }
    &__link {

        // &:not(:last-child) {
        //     margin-right: 20px;

        //     @media only screen and (min-width: $md) and (max-width: $lg) {
        //         margin-right: 15px;
        //     }
        // }

        &:hover {
            text-decoration: none !important;
        }
    }   
}

// ========================================================================

.body-header {

    &__container {
        max-width: $xl;
        margin: 0 auto;
        font-family: 'Bloggersans';
        font-size: $fs-2;
        padding: 16px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 3;
    }

    &__logo {
        order: 1;
    }

    &__search {
        order: 2;
        padding: 0px 15px;
        width: 30%;
    }

    &__actions {
        order: 3;
        @media only screen and (max-width: $md) {
            order: 2;
        }
    }
}

.logo-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 270px;
    max-height: 56px;
    
    &__logo {
        width: 100%;
        height: 100%;
        margin-right: 7.5px;
    }

    &__logo-name {
        
    }

    &__logo-sub-name {
    
    }
}

.search-header {
    @media only screen and (max-width: $md) {
        order: 3;
    }
    &__form {
        border: 1px solid #EEEEEE;
        border-radius: 10px;
        position: relative;

        
    }

    &__input {
        padding: 0 40px 0 19px;
        height: 50px;
        border-radius: 10px;
        border: 0 #fff;

        @media only screen and (max-width: $md) {
            display: none;
            
            &._active {
               
            }
            
        }
    }

    &__button {
        background-color: #fff;
        border: 0 #fff;
        position: absolute;
        right: 1px;
        border-radius: 10px;
        padding: 13px;
        top: 5px;

        @media only screen and (max-width: $md) {
            display: block;
            z-index: 6;
            &._active {
               
            }
            
        }
    }
}

.body-header {

    &__actions {
        display: flex;
    }
}
.actions-header {

    &__contacts {
        padding: 0px 23px;
        border-right: 1px solid #eee;
        
        P {
            font-family: $font_r;
            font-size: $fs-1;
            color: #707070;
        }
    }

    &__tel {
        font-family: $font_r;
        font-size: $fs-3;
        font-weight: 700;
        margin-right: 18px;
        
    }

    &__mail {
        font-size: $fs-2;
        
    }

    &__personal-account {
        padding-left: 27px;
        min-width: 68px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
    ._icon-call::before {
        font-size: 20px;
        margin-right: 10px;
        vertical-align: text-top;
    }

    ._icon-mail::before {
        margin-right: 10px;
        font-size: 20px;
        vertical-align: text-top;
    }

    ._icon-user {
        display: block;
        width: 40px;
        font-size: 40px;
    }

    ._icon-cart {
        display: block;
        width: 40px;
        font-size: 40px;
        margin-left: 30px;
    }








