@import 'fonts.scss';
@import 'const.scss';
@import 'header.scss';
@import 'reset.scss';

.body {
    position: relative;
    // z-index: 3;

    &._active {
        
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 3;
        }
    }

}
a {
    text-decoration: none;
    color: inherit;
}


.menu__link, .social__link {
    transition-duration: 0.7s;
    transition-property: color, text-decoration;

    &:hover {
        text-decoration: underline;
        color:#F07FAE;
    }
}