<div class="main__examples" id="examples">
    <div class="main__examples-container container">
        <h3 class="title__second">
            Примеры выполненных сантехнических работ нашей компанией VIP Santeh
        </h3>
        <div class="main__examples-block">
            <div class="example__block">
                <div class="example__img">
                    <img src="./img/example/example-img1.jpg" alt="img1">
                    <img src="./img/example/example-img2.jpg" alt="img2">
                </div>
                <div class="example__desc-block">
                    <div class="top__title">Отопление + водоснабжение</div>
                    <div class="example__desc">
                        <p><strong>Что было выполнено:</strong></p> 
                        <p>Подключены«из стены» 3 радиатора Rifar;</p>
                        <p>Смонтированы выводы для стиральной машины, раковины, ванны и кухни;</p>
                        <p> Установлена сантехника.</p>
                    </div>
                    <div class="price-date">
                        <ul>
                            <li>
                                Стоимость работ составила: 85 000 ₽
                            </li>
                            <li>
                                Стоимость материалов и радиаторов: 150 000 ₽
                            </li>
                            <li>
                                Срок выезда на объект и составления сметы: 2 дня
                            </li>
                            <li>
                                Срок выполнения работ: 2 дня
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="example__block">
                <div class="example__img">
                    <img src="./img/example/example-img1.jpg" alt="img1">
                    <img src="./img/example/example-img2.jpg" alt="img2">
                </div>
                <div class="example__desc-block">
                    <div class="top__title">Отопление + водоснабжение</div>
                    <div class="example__desc">
                        <p><strong>Что было выполнено:</strong></p> 
                        <p>Подключены«из стены» 3 радиатора Rifar;</p>
                        <p>Смонтированы выводы для стиральной машины, раковины, ванны и кухни;</p>
                        <p> Установлена сантехника.</p>
                    </div>
                    <div class="price-date">
                        <ul>
                            <li>
                                Стоимость работ составила: 85 000 ₽
                            </li>
                            <li>
                                Стоимость материалов и радиаторов: 150 000 ₽
                            </li>
                            <li>
                                Срок выезда на объект и составления сметы: 2 дня
                            </li>
                            <li>
                                Срок выполнения работ: 2 дня
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>