<div class="main__feedback">
    <div class="main__feedback-container container feedback-container">
        <h3 class="title__second">
            У вас остались вопросы?
        </h3>
        <div class="feedback__block">
            <div class="feedback__item">
                <div class="feedback__item-logo">
                    <img src="./img/feedback/phone.png" alt="call">
                </div>
                <div class="feedback__item-desc">
                    <span>
                        Позвоните по номеру:
                    </span>
                    <a href="tel:+84951082472">
                        8 (495) 108 24 72
                    </a>
                </div>
            </div>
            <div class="feedback__item">
                <div class="feedback__item-logo">
                    <img src="./img/feedback/mail.png" alt="mailto">
                </div>
                <div class="feedback__item-desc">
                    <span>
                        Или напишите нам на почту:
                    </span>
                    <a href="mailto:info@vip-santeh.com">
                        info@vip-santeh.com
                    </a>                        
                </div>
            </div>
            <div class="feedback__item">
                <div class="feedback__item-logo">
                    <img src="./img/feedback/monitor.png" alt="site">
                </div>
                <div class="feedback__item-desc">
                    <span>
                        Наш сайт:
                    </span>
                    <a href="http://vip-santeh.com">
                        vip-santeh.com  
                    </a>                
                </div>
            </div>
        </div>

    </div>
</div>