<div class="main__form-request form-request">
    <div class="main__form-container container">
        
        <h4 class="main__form-desc">
            Оставьте заявку на выезд монтажника сантехнических систем и получите устройство для измерения давления в трубах и тест на качество воды в подарок!*
        </h4>
        <div class="form-request__block">
            <input type="text" placeholder="Введите имя" class="inp name">
            <input type="tel" placeholder="Телефон" name="tel" class="inp tel">
            <input type="button" value="Оставить заявку" class="inp btn ">
        </div>
        <p>*за отзыв после проведения сантехнических работ</p>
        <div class="form__rectangls-block">
            <svg class="rectangl_bottom" width="236" height="175" viewBox="0 0 236 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M81.963 0.000821882L236 0L154.037 174.999L0 175L81.963 0.000821882Z" fill="#353542"/>
            </svg>
            <svg class="rectangl_top" width="159" height="119" viewBox="0 0 159 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M55.2208 0.00055888L159 0L103.779 119L0 119L55.2208 0.00055888Z" fill="#353542"/>
            </svg> 
            <svg class="rectangl_left" width="44" height="33" viewBox="0 0 44 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.7188 0.000154983L0 0L15.2812 32.9999L44 33L28.7188 0.000154983Z" fill="#1E489B"/>
                </svg>
                
            <img class="form__imgLog" src="./img/formReq/imgLog.png" alt=""> 
        </div>
    </div>
</div>