<div class="main__form-request form-request-price">
    <div class="main__form-container container form-price">
        
        <h4 class="main__form-desc">
            Оставьте заявку для оценки стоимости работ по фото или выезда специалиста на объект
        </h4>
        <div class="form-request__block">
            <input type="text" placeholder="Введите имя" class="inp name">
            <input type="tel" placeholder="Телефон" name="tel" class="inp tel">
            <input type="button" value="Оставить заявку" class="inp btn ">
        </div>
        <p><img src="./img/formReq/clip.png" alt="load foto"> Прикрепить фото</p>
    </div>
</div>