<div class="main__form-request form-request">
    <div class="main__form-container container">
        
        <h4 class="main__form-desc">
            Закажите монтаж и капитальный ремонт сантехнического оборудования с использованием европейской сантехники и материалов премиум-качества
        </h4>
        <div class="form-request__block">
            <input type="text" placeholder="Введите имя" class="inp name">
            <input type="tel" placeholder="Телефон" name="tel" class="inp tel">
            <input type="button" value="Оставить заявку" class="inp btn ">
        </div>
        <div class="form__rectangls-block">
            <svg class="rectangl_bottom" width="236" height="175" viewBox="0 0 236 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M81.963 0.000821882L236 0L154.037 174.999L0 175L81.963 0.000821882Z" fill="#353542"/>
            </svg>
            <svg class="rectangl_top" width="159" height="119" viewBox="0 0 159 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M55.2208 0.00055888L159 0L103.779 119L0 119L55.2208 0.00055888Z" fill="#353542"/>
            </svg> 
            <svg class="rectangl_left" style="bottom: 320px;" width="44" height="33" viewBox="0 0 44 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.7188 0.000154983L0 0L15.2812 32.9999L44 33L28.7188 0.000154983Z" fill="#1E489B"/>
            </svg>    
            <svg class="form__imgLog_2" width="191" height="173" viewBox="0 0 191 173" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M54.1209 28.3506C77.866 28.3798 98.8271 43.3184 105.838 65.2088H117.785C119.543 65.2088 120.968 63.8336 120.968 62.1372V6.84998C117.452 6.84998 114.602 4.09966 114.602 0.706955V-5.43607C114.602 -8.82877 117.452 -11.5791 120.968 -11.5791H184.632C188.148 -11.5791 190.999 -8.82877 190.999 -5.43607V0.706955C190.999 4.09966 188.148 6.84998 184.632 6.84998V154.283C188.148 154.283 190.999 157.033 190.999 160.426V166.569C190.999 169.961 188.148 172.712 184.632 172.712H120.968C117.452 172.712 114.602 169.961 114.602 166.569V160.426C114.602 157.033 117.452 154.283 120.968 154.283V98.9954C120.968 97.2991 119.543 95.9239 117.785 95.9239H105.838C97.6605 121.567 70.6735 137.056 43.4174 131.751C16.1613 126.446 -2.49256 102.073 0.270953 75.3767C3.03446 48.68 26.3158 28.3489 54.1209 28.3506V28.3506ZM184.632 -5.43607H120.968V0.706955H184.632V-5.43607ZM120.968 166.569H184.632V160.426H120.968V166.569ZM117.785 89.7809C123.059 89.7809 127.335 93.9064 127.335 98.9954V154.283H178.266V6.84998H127.335V62.1372C127.335 67.2263 123.059 71.3518 117.785 71.3518H107.341C108.534 77.4409 108.534 83.6917 107.341 89.7809H117.785ZM54.1209 126.639C80.4915 126.639 101.869 106.012 101.869 80.5663C101.869 55.1211 80.4915 34.4936 54.1209 34.4936C27.7504 34.4936 6.37285 55.1211 6.37285 80.5663C6.40268 106 27.7628 126.61 54.1209 126.639Z" fill="#353542"/>
                <path d="M54.1208 40.6367C76.9752 40.6367 95.5024 58.5138 95.5024 80.5664C95.5024 102.619 76.9752 120.496 54.1208 120.496C31.2663 120.496 12.7391 102.619 12.7391 80.5664C12.7654 58.5244 31.2772 40.6621 54.1208 40.6367ZM54.1208 114.353C73.4592 114.353 89.136 99.2263 89.136 80.5664C89.136 61.9065 73.4592 46.7797 54.1208 46.7797C34.7824 46.7797 19.1055 61.9065 19.1055 80.5664C19.1283 99.2171 34.7918 114.331 54.1208 114.353Z" fill="#353542"/>
                <path d="M50.9377 71.9174V59.0661C50.9377 57.3698 52.3629 55.9946 54.121 55.9946C55.879 55.9946 57.3042 57.3698 57.3042 59.0661V71.9174C61.1181 73.1994 63.6736 76.6697 63.6736 80.5667C63.6736 84.4637 61.1181 87.934 57.3042 89.2161V95.9243C57.3042 97.6207 55.879 98.9958 54.121 98.9958C52.3629 98.9958 50.9377 97.6207 50.9377 95.9243V89.2161C47.1238 87.934 44.5683 84.4637 44.5683 80.5667C44.5683 76.6697 47.1238 73.1994 50.9377 71.9174ZM54.121 83.6383C55.879 83.6383 57.3042 82.2631 57.3042 80.5667C57.3042 78.8704 55.879 77.4952 54.121 77.4952C52.3629 77.4952 50.9377 78.8704 50.9377 80.5667C50.9377 82.2631 52.3629 83.6383 54.121 83.6383Z" fill="#353542"/>
                <path d="M168.716 12.9932C170.474 12.9932 171.899 14.3683 171.899 16.0647V22.2077C171.899 23.9041 170.474 25.2792 168.716 25.2792C166.958 25.2792 165.533 23.9041 165.533 22.2077V16.0647C165.533 14.3683 166.958 12.9932 168.716 12.9932Z" fill="#353542"/>
                <path d="M168.716 31.4224C170.474 31.4224 171.899 32.7975 171.899 34.4939V62.1375C171.899 63.8339 170.474 65.209 168.716 65.209C166.958 65.209 165.533 63.8339 165.533 62.1375V34.4939C165.533 32.7975 166.958 31.4224 168.716 31.4224Z" fill="#353542"/>
            </svg>
        </div>
    </div>
</div>