<div class="main__manual">
    <div class="main__manual-container container manual-container">
        <h3 class="title__second">
            Какие гарантии мы предоставляем?
        </h3>
        <div class="manual-container__points">
            <div class="manual__point">
                <div class="manual__point-number">
                    <p>01</p>
                </div>
                <div class="manual__point-desc">
                    <span class="manual__point-title">
                        Заявка
                    </span>
                    <p>
                        Оставьте заявку на сайте или позвоните по номеру 8 (495) 108 24 72.Наш специалист проконсультирует вас по видам, стоимости услуг и другим интересующим вас вопросам
                    </p>
                </div>
            </div>
            <div class="manual__point">
                <div class="manual__point-number">
                    <p>02</p>
                </div>
                <div class="manual__point-desc">
                    <span class="manual__point-title">
                        Согласование деталей и выезд монтажника на объект
                    </span>
                    <p>
                        В течение 1 рабочего дня с вами свяжется руководитель будущего проекта для согласования бюджета, сроков монтажа и осмотра объекта специалистом
                    </p>
                </div>
            </div>
            <div class="manual__point">
                <div class="manual__point-number">
                    <p>03</p>
                </div>
                <div class="manual__point-desc">
                    <span class="manual__point-title">
                        Подготовка к заключению договора
                    </span>
                    <p>
                        Мы отправим вам коммерческое предложение и согласуем строительную готовность объекта. Обсуждение возможно в WhatsApp, Skype или Telegram
                    </p>
                </div>
            </div>
            <div class="manual__point">
                <div class="manual__point-number">
                    <p>04</p>
                </div>
                <div class="manual__point-desc">
                    <span class="manual__point-title">
                        Заключение договора и предоплата
                    </span>
                    <p>
                        После подписания договора необходимо внести предоплату в размере 30% от общей стоимости заказа
                    </p>
                </div>
            </div>
            <div class="manual__point">
                <div class="manual__point-number">
                    <p>05</p>
                </div>
                <div class="manual__point-desc">
                    <span class="manual__point-title">
                        Подготовка к монтажным работам
                    </span>
                    <p>
                        Специалисты составят проект при необходимости, сделают замеры, обсудят с вами детали сметы, общую сумму материалов и проконтролируют состояние объекта
                    </p>
                </div>
            </div>
            <div class="manual__point">
                <div class="manual__point-number">
                    <p>06</p>
                </div>
                <div class="manual__point-desc">
                    <span class="manual__point-title">
                        Проведение работ
                    </span>
                    <p>
                        Срок выполнения монтажа – от 1 до 2 недель. Специалисты проведут черновую уборку помещения и отправят клиенту отчет в виде фото и видео
                    </p>
                </div>
            </div>
            <div class="manual__point">
                <div class="manual__point-number">
                    <p>07</p>
                </div>
                <div class="manual__point-desc">
                    <span class="manual__point-title">
                        Презентация и сдача работ
                    </span>
                    <p>
                        В назначенную дату и время мы презентуем клиенту выполненную работу, передадим документы, гарантии и паспорта на сантехническое оборудование
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>