<div class="main__numbers">
    <div class="main__numbers-container container">
        <h3 class="title__second">
            О компании VIP Santeh в цифрах
        </h3>
        <div class="numbers__block block-numbers">
            <div class="block-numbers__item">
                <span>5</span>
                <p>лет опыта у каждого монтажника</p>
            </div>
            <div class="block-numbers__item">
                <span>20</span>
                <p>сер<wbr>ти<wbr>фи<wbr>ци<wbr>ро<wbr>ван<wbr>ных специалистов</p>
            </div>
            <div class="block-numbers__item">
                <span>50</span>
                <p>выполненных
                    проектов</p>
            </div>
            <div class="block__likes">
                <div class="container-likes">
                    <img class="like_big" src="./img/numbers/like.png" alt="like">
                    <img class="like_mid" src="./img/numbers/like.png" alt="like">
                    <img class="like_small" src="./img/numbers/like.png" alt="like">
                </div>
            </div>
        </div>
    </div>
</div>