<div class="main__partners">
    <div class="main__partners-container container">
        <h3 class="title__second">
            Мы используем европейские материалы и оборудование премиального качества
        </h3>
        <div class="main__partners-block">
            <div class="main__partner">
                <img src="./img/partners/far.png" alt="far">
                <p>Коллекторы FAR с регулировкой приоритета подачи воды</p> 
            </div>
            <div class="main__partner">
                <img src="./img/partners/bugatti.png" alt="bugatti">
                <p>Шаровые краны Bugatti</p>
                
            </div>
            <div class="main__partner">
                <img src="./img/partners/ostendorf.png" alt="ostendorf">
                <p>Сертифицированное оборудование и материалы</p>
                
            </div>
            <div class="main__partner">
                <img src="./img/partners/walraven.png" alt="walraven">
                <p>Шумоглушащие крепежные системы Walraven</p>
                
            </div>
            <div class="main__partner">
                <img src="./img/partners/tece.png" alt="tece">
                <p>Невидимые душевые трапы TECE</p>
                
            </div>
            <div class="main__partner">
                <img src="./img/partners/viega.png" alt="viega">
                <p> Медные трубы Viega</p>
            </div>
            <div class="main__partner">
                <img src="./img/partners/honeywell.png" alt="honeywell">
                <p>Мембранные редукторы Honeywell с защитой от перепадов давления</p>
                
            </div>
            <div class="main__partner">
                <img src="./img/partners/henco.png" alt="henco">
            </div>
        </div>
    </div>
</div>