<div class="main__payment">
    <div class="main__payment-container container container-payment">
        <h4 class="main__form-desc">
            <span>Точная стоимость сантехнических работ</span> оговаривается индивидуально после ознакомления с проектной документацией и выезда монтажника на объект
        </h4>
        <div class="form-request__block">
            <input type="text" placeholder="Введите имя" class="inp name">
            <input type="tel" placeholder="Телефон" name="tel" class="inp tel">
            <input type="button" value="Получить расчет" class="inp btn ">
        </div>
        <p class="sub-desc"> *за отзыв после проведения сантехнических работ</p>
        <div class="form__rectangls-block">
            <div class="rectangls">
                <svg class="rectangl_bottom" width="236" height="175" viewBox="0 0 236 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M81.963 0.000821882L236 0L154.037 174.999L0 175L81.963 0.000821882Z" fill="#353542"/>
                </svg>
                <svg class="rectangl_top" width="159" height="119" viewBox="0 0 159 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M55.2208 0.00055888L159 0L103.779 119L0 119L55.2208 0.00055888Z" fill="#353542"/>
                </svg> 
                <svg class="rectangl_left" width="74" height="55" viewBox="0 0 44 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.7188 0.000154983L0 0L15.2812 32.9999L44 33L28.7188 0.000154983Z" fill="#1E489B"/>
                    </svg>
                <svg class="rectangl_keys" width="142" height="142" viewBox="0 0 142 142" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M139.042 68.0417C140.698 68.0417 142 69.3434 142 71.0001C142 72.6567 140.698 73.9584 139.042 73.9584H136.083V68.0417H139.042Z" fill="#353542"/>
                        <path d="M73.9583 68.0417H136.083V73.9584H73.9583V68.0417Z" fill="#353542"/>
                        <path d="M127.208 142H71C72.6567 142 73.9583 140.698 73.9583 139.042V136.083H127.208C132.119 136.083 136.083 132.119 136.083 127.208V73.9583H139.042C140.698 73.9583 142 72.6567 142 71V127.208C142 135.373 135.373 142 127.208 142Z" fill="#353542"/>
                        <path d="M142 14.7917V71C142 69.3433 140.698 68.0417 139.042 68.0417H136.083V14.7917C136.083 9.88083 132.119 5.91667 127.208 5.91667H73.9583V2.95833C73.9583 1.30167 72.6567 0 71 0H127.208C135.373 0 142 6.62667 142 14.7917Z" fill="#353542"/>
                        <path d="M118.333 35.5C119.99 35.5 121.292 36.8017 121.292 38.4583C121.292 40.115 119.99 41.4167 118.333 41.4167H94.6666C93.0099 41.4167 91.7083 40.115 91.7083 38.4583C91.7083 36.8017 93.0099 35.5 94.6666 35.5H118.333Z" fill="#353542"/>
                        <path d="M118.333 94.6667C119.99 94.6667 121.292 95.9684 121.292 97.6251C121.292 99.2817 119.99 100.583 118.333 100.583H94.6666C93.0099 100.583 91.7083 99.2817 91.7083 97.6251C91.7083 95.9684 93.0099 94.6667 94.6666 94.6667H118.333Z" fill="#353542"/>
                        <path d="M118.333 112.417C119.99 112.417 121.292 113.718 121.292 115.375C121.292 117.032 119.99 118.333 118.333 118.333H94.6666C93.0099 118.333 91.7083 117.032 91.7083 115.375C91.7083 113.718 93.0099 112.417 94.6666 112.417H118.333Z" fill="#353542"/>
                        <path d="M73.9584 136.083V139.042C73.9584 140.698 72.6568 142 71.0001 142C69.3434 142 68.0417 140.698 68.0417 139.042V136.083H73.9584Z" fill="#353542"/>
                        <path d="M68.0417 73.9583H73.9584V136.083H68.0417V73.9583Z" fill="#353542"/>
                        <path d="M68.0417 68.0417H73.9584V73.9584H68.0417V68.0417Z" fill="#353542"/>
                        <path d="M68.0417 5.91663H73.9584V68.0416H68.0417V5.91663Z" fill="#353542"/>
                        <path d="M73.9584 2.95833V5.91667H68.0417V2.95833C68.0417 1.30167 69.3434 0 71.0001 0C72.6568 0 73.9584 1.30167 73.9584 2.95833Z" fill="#353542"/>
                        <path d="M5.91675 68.0417H68.0417V73.9584H5.91675V68.0417Z" fill="#353542"/>
                        <path d="M47.3332 35.5C48.9899 35.5 50.2916 36.8017 50.2916 38.4583C50.2916 40.115 48.9899 41.4167 47.3332 41.4167H38.4583V35.5H47.3332Z" fill="#353542"/>
                        <path d="M46.4458 113.304C47.6292 114.428 47.6292 116.322 46.4458 117.446C45.9133 118.038 45.1442 118.333 44.375 118.333C43.6058 118.333 42.8367 118.038 42.3042 117.446L35.5 110.642L39.6417 106.5L46.4458 113.304Z" fill="#353542"/>
                        <path d="M42.3042 95.5542C43.4283 94.3709 45.3217 94.3709 46.4458 95.5542C47.6292 96.6784 47.6292 98.5717 46.4458 99.6959L39.6417 106.5L35.5 102.358L42.3042 95.5542Z" fill="#353542"/>
                        <path d="M31.3411 106.494L35.4829 102.352L39.6248 106.494L35.4829 110.636L31.3411 106.494Z" fill="#353542"/>
                        <path d="M38.4584 41.4167V50.2917C38.4584 51.9484 37.1567 53.2501 35.5001 53.2501C33.8434 53.2501 32.5417 51.9484 32.5417 50.2917V41.4167H38.4584Z" fill="#353542"/>
                        <path d="M32.5417 35.5H38.4584V41.4167H32.5417V35.5Z" fill="#353542"/>
                        <path d="M38.4584 26.625V35.5H32.5417V26.625C32.5417 24.9683 33.8434 23.6666 35.5001 23.6666C37.1567 23.6666 38.4584 24.9683 38.4584 26.625Z" fill="#353542"/>
                        <path d="M35.5001 102.358L31.3584 106.5L24.5542 99.6959C23.3709 98.5717 23.3709 96.6784 24.5542 95.5542C25.6784 94.3709 27.5717 94.3709 28.6959 95.5542L35.5001 102.358Z" fill="#353542"/>
                        <path d="M32.5416 35.5V41.4167H23.6666C22.0099 41.4167 20.7083 40.115 20.7083 38.4583C20.7083 36.8017 22.0099 35.5 23.6666 35.5H32.5416Z" fill="#353542"/>
                        <path d="M28.6959 117.446C28.1634 118.038 27.3942 118.333 26.6251 118.333C25.8559 118.333 25.0867 118.038 24.5542 117.446C23.3709 116.322 23.3709 114.428 24.5542 113.304L31.3584 106.5L35.5001 110.642L28.6959 117.446Z" fill="#353542"/>
                        <path d="M5.91667 68.0417V73.9584H2.95833C1.30167 73.9584 0 72.6567 0 71.0001C0 69.3434 1.30167 68.0417 2.95833 68.0417H5.91667Z" fill="#353542"/>
                        <path d="M0 14.7917C0 6.62667 6.62667 0 14.7917 0H71C69.3433 0 68.0417 1.30167 68.0417 2.95833V5.91667H14.7917C9.88083 5.91667 5.91667 9.88083 5.91667 14.7917V68.0417H2.95833C1.30167 68.0417 0 69.3433 0 71V14.7917Z" fill="#353542"/>
                        <path d="M5.91667 127.208C5.91667 132.119 9.88083 136.083 14.7917 136.083H68.0417V139.042C68.0417 140.698 69.3433 142 71 142H14.7917C6.62667 142 0 135.373 0 127.208V71C0 72.6567 1.30167 73.9583 2.95833 73.9583H5.91667V127.208Z" fill="#353542"/>
                    </svg>
                        
            </div>
        </div>
    </div>
</div>