<div class="main__questions-answers">
    <div class="main__questions-answers-container container questions-answers-container">
        <h3 class="title__second">
            Вопросы и ответы
        </h3>
        <div class="questions-answers__block">
            <div class="questions-answers__item">
                <h4 class="questions__item">
                    Через какое время после подписания договора начнутся монтажные работы?
                </h4> 
                <input type="checkbox" id="label-1" class="questions-answers__item-checkbox"/>
                <label class="questions-answers__arrow-block" for="label-1"><img src="./img/questAnswer/arrow.png" alt=""> </label>
                <span class="answers__item">
                    За месяц до начала работ устанавливается предварительная дата начала работ. За неделю вам необходимо отправить специалисту фото, подтверждающее готовность объекта к работе. После этого он согласует с вами конкретный день начала монтажа.
                </span>
            </div>
            <div class="questions-answers__item">
                <h4 class="questions__item">
                    Какие сертификаты имеет сантехническое оборудование?
                </h4> 
                <input type="checkbox" id="label-2" class="questions-answers__item-checkbox"/>
                <label class="questions-answers__arrow-block" for="label-2"><img src="./img/questAnswer/arrow.png" alt=""> </label>
                <span class="answers__item">
                    За месяц до начала работ устанавливается предварительная дата начала работ. За неделю вам необходимо отправить специалисту фото, подтверждающее готовность объекта к работе. После этого он согласует с вами конкретный день начала монтажа.
                </span>
            </div>
            <div class="questions-answers__item">
                <h4 class="questions__item">
                    Какой тест на качество воды я получу в подарок при заказе услуг в VIP Santeh?
                </h4> 
                <input type="checkbox" id="label-3" class="questions-answers__item-checkbox"/>
                <label class="questions-answers__arrow-block" for="label-3"><img src="./img/questAnswer/arrow.png" alt=""> </label>
                <span class="answers__item">
                    За месяц до начала работ устанавливается предварительная дата начала работ. За неделю вам необходимо отправить специалисту фото, подтверждающее готовность объекта к работе. После этого он согласует с вами конкретный день начала монтажа.
                </span>
            </div>
            <div class="questions-answers__item">
                <h4 class="questions__item">
                    Могу ли я сам предоставить сантехнические материалы для работ?
                </h4> 
                <input type="checkbox" id="label-4" class="questions-answers__item-checkbox"/>
                <label class="questions-answers__arrow-block" for="label-4"><img src="./img/questAnswer/arrow.png" alt=""> </label>
                <span class="answers__item">
                    За месяц до начала работ устанавливается предварительная дата начала работ. За неделю вам необходимо отправить специалисту фото, подтверждающее готовность объекта к работе. После этого он согласует с вами конкретный день начала монтажа.
                </span>
            </div>
            <div class="questions-answers__item">
                <h4 class="questions__item">
                    Как происходит оплата услуг?
                </h4> 
                <input type="checkbox" id="label-5" class="questions-answers__item-checkbox"/>
                <label class="questions-answers__arrow-block" for="label-5"><img src="./img/questAnswer/arrow.png" alt=""> </label>
                <span class="answers__item">
                    За месяц до начала работ устанавливается предварительная дата начала работ. За неделю вам необходимо отправить специалисту фото, подтверждающее готовность объекта к работе. После этого он согласует с вами конкретный день начала монтажа.
                </span>
            </div>
            <div class="questions-answers__item">
                <h4 class="questions__item">
                    Можно ли разделить оплату услуг на части?
                </h4> 
                <input type="checkbox" id="label-6" class="questions-answers__item-checkbox"/>
                <label class="questions-answers__arrow-block" for="label-6"><img src="./img/questAnswer/arrow.png" alt=""> </label>
                <span class="answers__item">
                    За месяц до начала работ устанавливается предварительная дата начала работ. За неделю вам необходимо отправить специалисту фото, подтверждающее готовность объекта к работе. После этого он согласует с вами конкретный день начала монтажа.
                </span>
            </div>
            <div class="questions-answers__item">
                <h4 class="questions__item">
                    Сколько стоит выезд специалиста на объект?
                </h4> 
                <input type="checkbox" id="label-7" class="questions-answers__item-checkbox"/>
                <label class="questions-answers__arrow-block" for="label-7"><img src="./img/questAnswer/arrow.png" alt=""> </label>
                <span class="answers__item">
                    За месяц до начала работ устанавливается предварительная дата начала работ. За неделю вам необходимо отправить специалисту фото, подтверждающее готовность объекта к работе. После этого он согласует с вами конкретный день начала монтажа.
                </span>
            </div>
            <div class="questions-answers__item">
                <h4 class="questions__item">
                    Выполняете ли вы доставку материалов на объект?
                </h4> 
                <input type="checkbox" id="label-8" class="questions-answers__item-checkbox"/>
                <label class="questions-answers__arrow-block" for="label-8"><img src="./img/questAnswer/arrow.png" alt=""> </label>
                <span class="answers__item">
                    За месяц до начала работ устанавливается предварительная дата начала работ. За неделю вам необходимо отправить специалисту фото, подтверждающее готовность объекта к работе. После этого он согласует с вами конкретный день начала монтажа.
                </span>
            </div>
            <div class="questions-answers__item">
                <h4 class="questions__item">
                    Работаете ли вы с юридическими лицами?
                </h4> 
                <input type="checkbox" id="label-9" class="questions-answers__item-checkbox"/>
                <label class="questions-answers__arrow-block" for="label-9"><img src="./img/questAnswer/arrow.png" alt=""> </label>
                <span class="answers__item">
                    За месяц до начала работ устанавливается предварительная дата начала работ. За неделю вам необходимо отправить специалисту фото, подтверждающее готовность объекта к работе. После этого он согласует с вами конкретный день начала монтажа.
                </span>
            </div>
        </div>
        <div class="form__rectangls-block">
            <div class="rectangls">
                <svg class="rectangl_bottom" width="200" height="149" viewBox="0 0 236 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M81.963 0.000821882L236 0L154.037 174.999L0 175L81.963 0.000821882Z" fill="#F8F8F8"></path>
                </svg>
                <svg class="rectangl_top" width="121" height="92" viewBox="0 0 159 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M55.2208 0.00055888L159 0L103.779 119L0 119L55.2208 0.00055888Z" fill="#F8F8F8"></path>
                </svg> 
                <img class="img-questAnswer" src="./img/questAnswer/img-questAnswer.png" alt="">
                    

                <svg class="wave" width="317" height="253" viewBox="0 0 317 253" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 68.2132L66.8994 31.2231C97.5934 13.7287 135.241 13.7287 165.935 31.2231L181.316 39.9901C212.011 57.4845 249.658 57.4845 280.352 39.9901L295.734 31.2231C326.428 13.7287 364.075 13.7287 394.769 31.2231L410.151 39.9901C440.845 57.4845 478.492 57.4845 509.186 39.9901L524.568 31.2231C555.262 13.7287 592.909 13.7287 623.603 31.2231L638.985 39.9901C669.679 57.4845 707.326 57.4845 738.02 39.9901L753.402 31.2231C784.096 13.7287 821.743 13.7287 852.437 31.2231L867.819 39.9901C898.513 57.4845 936.16 57.4845 966.854 39.9901L982.236 31.2231C1012.93 13.7287 1050.58 13.7287 1081.27 31.2231L1096.65 39.9901C1127.35 57.4845 1164.99 57.4845 1195.69 39.9901L1211.07 31.2231C1241.76 13.7287 1279.41 13.7287 1310.11 31.2231L1325.49 39.9901C1356.18 57.4845 1393.83 57.4845 1424.52 39.9901L1439.9 31.2231C1470.6 13.7287 1508.25 13.7287 1538.94 31.2231L1554.32 39.9901C1585.02 57.4845 1622.66 57.4845 1653.36 39.9901L1668.74 31.2231C1699.43 13.7287 1737.08 13.7287 1767.77 31.2231L1783.16 39.9901C1813.85 57.4845 1851.5 57.4845 1882.19 39.9901L1897.57 31.2231C1928.27 13.7287 1965.91 13.7287 1996.61 31.2231L2011.99 39.9901C2042.68 57.4845 2080.33 57.4845 2111.02 39.9901L2175.92 3" stroke="#DCDCDC" stroke-width="6" stroke-linejoin="round" stroke-dasharray="4 12"/>
                    <path d="M2 159.116L66.8994 122.126C97.5934 104.632 135.241 104.632 165.935 122.126L181.316 130.893C212.011 148.387 249.658 148.387 280.352 130.893L295.734 122.126C326.428 104.632 364.075 104.632 394.769 122.126L410.151 130.893C440.845 148.387 478.492 148.387 509.186 130.893L524.568 122.126C555.262 104.632 592.909 104.632 623.603 122.126L638.985 130.893C669.679 148.387 707.326 148.387 738.02 130.893L753.402 122.126C784.096 104.632 821.743 104.632 852.437 122.126L867.819 130.893C898.513 148.387 936.16 148.387 966.854 130.893L982.236 122.126C1012.93 104.632 1050.58 104.632 1081.27 122.126L1096.65 130.893C1127.35 148.387 1164.99 148.387 1195.69 130.893L1211.07 122.126C1241.76 104.632 1279.41 104.632 1310.11 122.126L1325.49 130.893C1356.18 148.387 1393.83 148.387 1424.52 130.893L1439.9 122.126C1470.6 104.632 1508.25 104.632 1538.94 122.126L1554.32 130.893C1585.02 148.387 1622.66 148.387 1653.36 130.893L1668.74 122.126C1699.43 104.632 1737.08 104.632 1767.77 122.126L1783.16 130.893C1813.85 148.387 1851.5 148.387 1882.19 130.893L1897.57 122.126C1928.27 104.632 1965.91 104.632 1996.61 122.126L2011.99 130.893C2042.68 148.387 2080.33 148.387 2111.02 130.893L2175.92 93.9028" stroke="#DCDCDC" stroke-width="6" stroke-linejoin="round" stroke-dasharray="4 12"/>
                    <path d="M2 250.02L66.8994 213.03C97.5934 195.535 135.241 195.535 165.935 213.03L181.316 221.797C212.011 239.291 249.658 239.291 280.352 221.797L295.734 213.03C326.428 195.535 364.075 195.535 394.769 213.03L410.151 221.797C440.845 239.291 478.492 239.291 509.186 221.797L524.568 213.03C555.262 195.535 592.909 195.535 623.603 213.03L638.985 221.797C669.679 239.291 707.326 239.291 738.02 221.797L753.402 213.03C784.096 195.535 821.743 195.535 852.437 213.03L867.819 221.797C898.513 239.291 936.16 239.291 966.854 221.797L982.236 213.03C1012.93 195.535 1050.58 195.535 1081.27 213.03L1096.65 221.797C1127.35 239.291 1164.99 239.291 1195.69 221.797L1211.07 213.03C1241.76 195.535 1279.41 195.535 1310.11 213.03L1325.49 221.797C1356.18 239.291 1393.83 239.291 1424.52 221.797L1439.9 213.03C1470.6 195.535 1508.25 195.535 1538.94 213.03L1554.32 221.797C1585.02 239.291 1622.66 239.291 1653.36 221.797L1668.74 213.03C1699.43 195.535 1737.08 195.535 1767.77 213.03L1783.16 221.797C1813.85 239.291 1851.5 239.291 1882.19 221.797L1897.57 213.03C1928.27 195.535 1965.91 195.535 1996.61 213.03L2011.99 221.797C2042.68 239.291 2080.33 239.291 2111.02 221.797L2175.92 184.807" stroke="#DCDCDC" stroke-width="6" stroke-linejoin="round" stroke-dasharray="4 12"/>
                </svg>
                 
            </div>
        </div>
    </div>
</div>



