<div class="main__installers main-reviews">
    <div class="main__installers-container container">
        <h3 class="title__second">
            Отзывы клиентов
        </h3>
        <div class="installers__block block-body reviews-body">
            <div class="fitter__block item-subblock">
                <div class="review-img__block">
                    <img class="review-img" src="./img/reviews/photo5.jpg" alt="photo5">
                </div>
                <div class="review-desc__block">
                    <h4 class="review__name-user">Елена Орлова</h4>
                    <div class="review__star-body">
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                    </div>
                </div>
                <div class="review__desc-user">
                    <p> 
                        Операторы хорошо подготовленны, консультируют качественно. Круто что для подтверждения заказа они применяют современные решения - связываются роботы. Скрипты общения не слишком навязывающие, что очень приятно. Удачи!
                    </p> 
                </div>
            </div>
            <div class="fitter__block item-subblock">
                <div class="review-img__block">
                    <img class="review-img" src="./img/reviews/photo6.jpg" alt="photo5">
                </div>
                <div class="review-desc__block">
                    <h4 class="review__name-user">Иван Гончаров</h4>
                    <div class="review__star-body">
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                    </div>
                </div>
                <div class="review__desc-user">
                    <p> 
                        Операторы хорошо подготовленны, консультируют качественно. Круто что для подтверждения заказа они применяют современные решения - связываются роботы. Скрипты общения не слишком навязывающие, что очень приятно. Удачи!
                    </p> 
                </div>
            </div>
            <div class="fitter__block item-subblock">
                <div class="review-img__block">
                    <img class="review-img" src="./img/reviews/photo5.jpg" alt="photo5">
                </div>
                <div class="review-desc__block">
                    <h4 class="review__name-user">Елена Орлова</h4>
                    <div class="review__star-body">
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                    </div>
                </div>
                <div class="review__desc-user">
                    <p> 
                        Операторы хорошо подготовленны, консультируют качественно. Круто что для подтверждения заказа они применяют современные решения - связываются роботы. Скрипты общения не слишком навязывающие, что очень приятно. Удачи!
                    </p> 
                </div>
            </div>
            <div class="fitter__block item-subblock">
                <div class="review-img__block">
                    <img class="review-img" src="./img/reviews/photo6.jpg" alt="photo5">
                </div>
                <div class="review-desc__block">
                    <h4 class="review__name-user">Иван Гончаров</h4>
                    <div class="review__star-body">
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                        <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.73227 0.24445C6.84325 0.0249135 7.15675 0.0249132 7.26773 0.244449L9.09245 3.85395C9.13666 3.9414 9.22079 4.00175 9.3178 4.01559L13.3868 4.59631C13.635 4.63173 13.7328 4.93791 13.5512 5.11069L10.6166 7.90157C10.5438 7.97081 10.5104 8.0719 10.5278 8.17086L11.2216 12.1204C11.2645 12.3645 11.0096 12.5524 10.7891 12.4391L7.13704 10.5639C7.05102 10.5197 6.94898 10.5197 6.86296 10.5639L3.21094 12.4391C2.99043 12.5524 2.73554 12.3645 2.77842 12.1204L3.47217 8.17086C3.48955 8.0719 3.45624 7.97081 3.38344 7.90157L0.448844 5.11069C0.267169 4.93791 0.365002 4.63173 0.613201 4.59631L4.6822 4.01559C4.77921 4.00175 4.86334 3.9414 4.90755 3.85395L6.73227 0.24445Z" fill="white"/>
                        </svg>
                    </div>
                </div>
                <div class="review__desc-user">
                    <p> 
                        Операторы хорошо подготовленны, консультируют качественно. Круто что для подтверждения заказа они применяют современные решения - связываются роботы. Скрипты общения не слишком навязывающие, что очень приятно. Удачи!
                    </p> 
                </div>
            </div>
        </div>
    </div>
</div>