<div class="main__services" id="services">
    <div class="main__services-container container services-container">
        <h3 class="title__second">
            Услуги и цены
        </h3>
        <div class="services-container__block">
            <div class="service-block">
                <div class="service-block__top-title">
                    Монтаж водоснабжения и отопления
                </div>
                <ul class="service-block__items">
                    <li class="service-item">
                        Монтаж узлов ввода водоснабжения (холодного и горячего) <span>от 20 000 ₽</span> 
                    </li>
                    <li class="service-item">
                        Установка унитаза или биде <span>от 6 000 ₽</span> 
                    </li>
                    <li class="service-item">
                        Прокладка труб водоснабжения и канализации к унитазу, стиральной, посудомоечной машине <span>от 7 000 ₽</span>  
                    </li>
                </ul>
                <a class="service-more" href="#">Развернуть</a>
            </div>
            <div class="service-block">
                <div class="service-block__top-title">
                    Сопутствующие услуги при монтаже систем водоснабжения
                </div>
                <ul class="service-block__items">
                    <li class="service-item">
                        Переборка центральной канализации (врезка, замена тройников и крестовин) <span>от 11 000 ₽ </span> 
                    </li>
                    <li class="service-item">
                        Изготовление и сборка крепежной  рамы и рамы для инсталляции или узлов водоснабжения ТЕСЕ <span>от 15 000 ₽</span> 
                    </li>
                    <li class="service-item">
                        Прокладывание штроб в пеноблоке, пазогребне и красном кирпиче <span>2 000 ₽ за м2</span> <span>3 000 ₽ за м2 в бетоне</span> 
                    </li>
                </ul>
                <a class="service-more" href="#">Развернуть</a>
            </div>
            <div class="service-block">
                <div class="service-block__top-title">
                    Современное коллекторное отопление
                </div>
                <ul class="service-block__items">
                    <li class="service-item">
                        Монтаж узла ввода центрального отопления (краны, фильтры, коллекторы и манометры) <span>от 12 000 ₽  </span> 
                    </li>
                    <li class="service-item">
                        Установка и подключение радиатора центрального отопления <span>от 10 000 ₽</span> 
                    </li>
                    <li class="service-item">
                        Монтаж трубопроводов с учетом линейного удлинения <span>300 ₽ за м2</span> 
                    </li>
                </ul>
                <a class="service-more" href="#">Развернуть</a>
            </div>
        </div>
    </div>
</div>