<div class="main__slider ">
    <div class="main__slider-container container">
        <div class="main__slider-specialization ">
            <div class="main__slider-title">
                <h2 class="title">Создаем <span>системы водоснабжения и отопления</span>  высокого класса по разумной цене</h2>
                <h5 class="sub__title">Используем европейские материалы с лучшим соотношением цены-качества</h5>
            </div>
            <div class="main__slider-benefits">
                <div class="slider-advantage">
                    <div class="advantage__rectangle">
                        <svg class="rectangle__logo" width="36" height="31" viewBox="0 0 36 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.0847 25.0884H2.3064" stroke="white" stroke-miterlimit="10"/>
                            <path d="M-7.47428 25.0885H-10.5511C-11.4986 25.0885 -12.2627 24.3154 -12.2627 23.3795V2.70898C-12.2627 1.76294 -11.4986 1 -10.5511 1H22.326C22.7845 1 23.2124 1.1831 23.5384 1.49845L34.5008 12.4441C34.8268 12.7696 35 13.1968 35 13.6546V23.3795C35 24.3255 34.2359 25.0885 33.2884 25.0885H29.8652" stroke="white" stroke-miterlimit="10"/>
                            <path d="M26.0243 3.99072H-8.05495C-8.51342 3.99072 -8.89038 4.3671 -8.89038 4.82487V10.5113C-8.89038 10.9691 -8.51342 11.3454 -8.05495 11.3454H33.3802" stroke="white" stroke-miterlimit="10"/>
                            <path d="M17.0181 3.99072V25.0885" stroke="white" stroke-miterlimit="10"/>
                            <path d="M-2.58406 29.9712C0.116776 29.9712 2.30624 27.7851 2.30624 25.0884C2.30624 22.3917 0.116776 20.2056 -2.58406 20.2056C-5.2849 20.2056 -7.47437 22.3917 -7.47437 25.0884C-7.47437 27.7851 -5.2849 29.9712 -2.58406 29.9712Z" stroke="white" stroke-miterlimit="10"/>
                            <path d="M24.975 29.9712C27.6759 29.9712 29.8653 27.7851 29.8653 25.0884C29.8653 22.3917 27.6759 20.2056 24.975 20.2056C22.2742 20.2056 20.0847 22.3917 20.0847 25.0884C20.0847 27.7851 22.2742 29.9712 24.975 29.9712Z" stroke="white" stroke-miterlimit="10"/>
                            <path d="M35 15.4043H30.9859C30.4459 15.4043 30.0078 15.8417 30.0078 16.3809V17.9067C30.0078 18.4459 30.4459 18.8833 30.9859 18.8833H35" stroke="white" stroke-miterlimit="10"/>
                            <path d="M22.7641 15.4043H19.5039" stroke="white" stroke-miterlimit="10"/>
                            <path d="M35.0001 22.1079H31.8826" stroke="white" stroke-miterlimit="10"/>
                            <path d="M25.9021 25.0884H24.4248" stroke="white" stroke-miterlimit="10"/>
                            </svg>
                    </div>
                    <div class="slider-advantage-text">Бесплатный выезд при заключении договора</div>
                </div>
                <div class="slider-advantage">
                    <div class="advantage__rectangle">
                        <svg class="rectangle__logo shield" width="26" height="32" viewBox="0 0 26 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.0001 26.4799C13.0001 26.4799 21.1601 22.4479 21.1601 16.3999V7.4239L13.0001 4.3999L4.84009 7.4239V16.3999C4.84009 22.4479 13.0001 26.4799 13.0001 26.4799Z" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.6001 14.96L12.5201 16.88L16.3601 13.04" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M25 7.85606V5.16806L13 0.560059L1 5.16806V15.9201C1 25.1361 13 31.2801 13 31.2801C13 31.2801 25 25.1361 25 15.9201V13.2321" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>  
                    </div>
                    <div class="slider-advantage-text">Гарантия на монтажные работы – 2 года</div>
                </div>
                <div class="slider-advantage">
                    <div class="advantage__rectangle">
                        <svg class="rectangle__logo" width="34" height="29" viewBox="0 0 34 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M31.3727 8.70699H9.51323V7.57383H9.54749C10.1157 7.57383 10.5779 7.11164 10.5779 6.54347V3.84751H20.1939C21.0556 3.84751 21.7565 3.14646 21.7565 2.28484C21.7565 1.42322 21.0555 0.722168 20.1939 0.722168H3.69192C2.2432 0.722168 1.06462 1.90081 1.06462 3.34946V6.54341C1.06462 7.11158 1.52681 7.57377 2.09498 7.57377H2.12925V8.70692H2.09498C0.939781 8.70699 0 9.64677 0 10.802V28.3686C0 28.6436 0.222992 28.8666 0.498047 28.8666H10.0799C10.3549 28.8666 10.5779 28.6436 10.5779 28.3686V16.6575C10.5779 15.171 11.7872 13.9616 13.2738 13.9616H26.6161V15.0606C26.6161 15.6288 27.0783 16.091 27.6464 16.091H31.905C32.4732 16.091 32.9354 15.6288 32.9354 15.0606V13.9616H32.9696C33.5378 13.9616 34 13.4995 34 12.9313V11.3344C34 9.88557 32.8214 8.70699 31.3727 8.70699V8.70699ZM3.12534 7.57377H5.8215C6.09656 7.57377 6.31955 7.35077 6.31955 7.07572C6.31955 6.80066 6.09656 6.57767 5.8215 6.57767H2.09498C2.07606 6.57767 2.06072 6.56233 2.06072 6.54341V3.34946C2.06072 2.44999 2.79252 1.71826 3.69192 1.71826H20.1939C20.5063 1.71826 20.7605 1.97246 20.7605 2.28484C20.7605 2.59721 20.5063 2.85142 20.1939 2.85142H10.0799C9.80482 2.85142 9.58182 3.07441 9.58182 3.34946V6.54341C9.58182 6.56233 9.56648 6.57767 9.54756 6.57767H7.95049C7.67543 6.57767 7.45244 6.80066 7.45244 7.07572C7.45244 7.35077 7.67543 7.57377 7.95049 7.57377H8.5172V8.70692H3.12534V7.57377ZM33.0039 12.9312C33.0039 12.9501 32.9886 12.9655 32.9696 12.9655H30.3079C30.0329 12.9655 29.8099 13.1885 29.8099 13.4635C29.8099 13.7386 30.0329 13.9616 30.3079 13.9616H31.9393V15.0605C31.9393 15.0795 31.9239 15.0948 31.905 15.0948H27.6464C27.6275 15.0948 27.6122 15.0795 27.6122 15.0605V13.9616H28.1786C28.4537 13.9616 28.6767 13.7386 28.6767 13.4635C28.6767 13.1885 28.4537 12.9655 28.1786 12.9655H13.2737C11.238 12.9655 9.58176 14.6217 9.58176 16.6575V27.8704H0.996094V10.802C0.996094 10.196 1.48903 9.70308 2.09498 9.70308H31.3726C32.2721 9.70308 33.0038 10.4349 33.0038 11.3343V12.9312H33.0039Z" fill="white"/>
                            <path d="M29.7759 17.2241C29.5008 17.2241 29.2778 17.4471 29.2778 17.7222V18.7868C29.2778 19.0618 29.5008 19.2848 29.7759 19.2848C30.0509 19.2848 30.2739 19.0618 30.2739 18.7868V17.7222C30.2739 17.4471 30.0509 17.2241 29.7759 17.2241Z" fill="white"/>
                            <path d="M29.7759 23.6118C29.5008 23.6118 29.2778 23.8348 29.2778 24.1099V25.1745C29.2778 25.4495 29.5008 25.6725 29.7759 25.6725C30.0509 25.6725 30.2739 25.4495 30.2739 25.1745V24.1099C30.2739 23.8348 30.0509 23.6118 29.7759 23.6118Z" fill="white"/>
                            <path d="M29.7759 20.418C29.5008 20.418 29.2778 20.641 29.2778 20.916V21.9806C29.2778 22.2557 29.5008 22.4787 29.7759 22.4787C30.0509 22.4787 30.2739 22.2557 30.2739 21.9806V20.916C30.2739 20.6409 30.0509 20.418 29.7759 20.418Z" fill="white"/>
                            <path d="M29.7759 26.8057C29.5008 26.8057 29.2778 27.0287 29.2778 27.3037V28.3683C29.2778 28.6434 29.5008 28.8664 29.7759 28.8664C30.0509 28.8664 30.2739 28.6434 30.2739 28.3683V27.3037C30.2739 27.0287 30.0509 26.8057 29.7759 26.8057Z" fill="white"/>
                            <path d="M32.0559 19.2776C32.3297 19.251 32.5301 19.0076 32.5036 18.7338L32.4008 17.6742C32.3743 17.4004 32.131 17.1998 31.857 17.2265C31.5832 17.2531 31.3828 17.4965 31.4093 17.7703L31.5121 18.83C31.5371 19.0873 31.7539 19.2799 32.0073 19.2799C32.0233 19.2799 32.0396 19.2792 32.0559 19.2776Z" fill="white"/>
                            <path d="M32.6726 25.6356C32.9464 25.609 33.1469 25.3655 33.1203 25.0918L33.0175 24.032C32.9909 23.7583 32.7477 23.5578 32.4737 23.5844C32.1999 23.611 31.9995 23.8544 32.026 24.1282L32.1288 25.1879C32.1538 25.4453 32.3706 25.6379 32.624 25.6379C32.64 25.6379 32.6563 25.6372 32.6726 25.6356Z" fill="white"/>
                            <path d="M32.3643 22.4567C32.6381 22.4302 32.8385 22.1867 32.8119 21.9129L32.7091 20.8533C32.6826 20.5795 32.4391 20.3792 32.1653 20.4057C31.8915 20.4322 31.6911 20.6757 31.7177 20.9495L31.8205 22.0091C31.8455 22.2666 32.0622 22.4591 32.3156 22.4591C32.3317 22.4591 32.348 22.4583 32.3643 22.4567Z" fill="white"/>
                            <path d="M33.3258 27.2112C33.2993 26.9374 33.0558 26.7372 32.782 26.7636C32.5082 26.7901 32.3078 27.0336 32.3344 27.3074L32.4372 28.3671C32.4622 28.6245 32.6789 28.817 32.9323 28.817C32.9484 28.817 32.9647 28.8162 32.981 28.8146C33.2548 28.7881 33.4552 28.5446 33.4286 28.2708L33.3258 27.2112Z" fill="white"/>
                            <path d="M27.6946 17.2265C27.4208 17.1999 27.1774 17.4003 27.1508 17.6741L27.048 18.7338C27.0215 19.0076 27.2219 19.251 27.4957 19.2776C27.512 19.2792 27.5283 19.28 27.5443 19.28C27.7977 19.28 28.0145 19.0874 28.0395 18.83L28.1423 17.7704C28.1688 17.4965 27.9684 17.253 27.6946 17.2265Z" fill="white"/>
                            <path d="M27.0777 23.5844C26.804 23.5577 26.5604 23.7583 26.5339 24.0321L26.4311 25.0918C26.4045 25.3656 26.6049 25.609 26.8787 25.6356C26.8951 25.6372 26.9113 25.638 26.9274 25.638C27.1808 25.638 27.3976 25.4454 27.4225 25.188L27.5253 24.1283C27.5519 23.8544 27.3515 23.611 27.0777 23.5844Z" fill="white"/>
                            <path d="M27.386 20.4057C27.1115 20.3791 26.8688 20.5795 26.8422 20.8533L26.7394 21.913C26.7129 22.1868 26.9133 22.4302 27.1871 22.4568C27.2035 22.4584 27.2197 22.4592 27.2357 22.4592C27.4892 22.4592 27.7059 22.2666 27.7309 22.0092L27.8337 20.9496C27.8602 20.6757 27.6598 20.4323 27.386 20.4057Z" fill="white"/>
                            <path d="M26.7693 26.7636C26.4949 26.7369 26.2521 26.9375 26.2255 27.2113L26.1227 28.271C26.0962 28.5448 26.2966 28.7882 26.5704 28.8148C26.5868 28.8164 26.603 28.8172 26.619 28.8172C26.8724 28.8172 27.0892 28.6246 27.1142 28.3672L27.217 27.3075C27.2435 27.0336 27.043 26.7902 26.7693 26.7636Z" fill="white"/>
                            </svg>
                    </div>
                    <div class="slider-advantage-text">Сантехника ведущих европейских брендов</div>
                </div>
            </div>
            <button class="main__slider-btn btn">Заказать монтаж</button>
        </div>
    </div>
    <img class="slider-vector" src="./img/slider/slider-vector.png" alt="down">
</div>
