<div class="main__staff">
    <div class="main__staff-container container">
        <h3 class="title__second">
            Эксперты VIP Santeh
        </h3>
        <div class="staff__block block-body">
            <div class="expert__block item-subblock ">
                <div class="expert-photo">
                    <img src="./img/staff/photo1.jpg" alt="photo1">
                </div>
                <svg class="wave" width="1408" height="274" viewBox="0 0 1408 274" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 73.7519L66.3421 34.6129C98.2673 15.193 138.356 15.193 170.282 34.6129L182.654 42.139C214.579 61.5589 254.668 61.5589 286.593 42.139L298.966 34.6129C330.891 15.193 370.98 15.193 402.905 34.6129L415.278 42.139C447.203 61.5589 487.292 61.5589 519.217 42.139L531.589 34.6129C563.514 15.193 603.604 15.193 635.529 34.6129L647.901 42.139C679.826 61.5589 719.915 61.5589 751.841 42.139L764.213 34.6129C796.138 15.193 836.227 15.193 868.152 34.6129L880.525 42.139C912.45 61.5589 952.539 61.5589 984.464 42.139L996.837 34.6129C1028.76 15.193 1068.85 15.193 1100.78 34.6129L1113.15 42.139C1145.07 61.5589 1185.16 61.5589 1217.09 42.139L1229.46 34.6129C1261.39 15.193 1301.47 15.193 1333.4 34.6129L1345.77 42.139C1377.7 61.5589 1417.79 61.5589 1449.71 42.139L1462.08 34.6129C1494.01 15.193 1534.1 15.193 1566.02 34.6129L1578.4 42.139C1610.32 61.5589 1650.41 61.5589 1682.33 42.139L1694.71 34.6129C1726.63 15.193 1766.72 15.193 1798.65 34.6129L1811.02 42.139C1842.94 61.5589 1883.03 61.5589 1914.96 42.139L1927.33 34.6129C1959.26 15.193 1999.35 15.193 2031.27 34.6129L2043.64 42.139C2075.57 61.5589 2115.66 61.5589 2147.58 42.139L2211.92 3" stroke="#353542" stroke-width="6" stroke-linejoin="round" stroke-dasharray="4 12"/>
                    <path d="M2 172.376L66.3421 133.237C98.2673 113.817 138.356 113.817 170.282 133.237L182.654 140.763C214.579 160.183 254.668 160.183 286.593 140.763L298.966 133.237C330.891 113.817 370.98 113.817 402.905 133.237L415.278 140.763C447.203 160.183 487.292 160.183 519.217 140.763L531.589 133.237C563.514 113.817 603.604 113.817 635.529 133.237L647.901 140.763C679.826 160.183 719.915 160.183 751.841 140.763L764.213 133.237C796.138 113.817 836.227 113.817 868.152 133.237L880.525 140.763C912.45 160.183 952.539 160.183 984.464 140.763L996.837 133.237C1028.76 113.817 1068.85 113.817 1100.78 133.237L1113.15 140.763C1145.07 160.183 1185.16 160.183 1217.09 140.763L1229.46 133.237C1261.39 113.817 1301.47 113.817 1333.4 133.237L1345.77 140.763C1377.7 160.183 1417.79 160.183 1449.71 140.763L1462.08 133.237C1494.01 113.817 1534.1 113.817 1566.02 133.237L1578.4 140.763C1610.32 160.183 1650.41 160.183 1682.33 140.763L1694.71 133.237C1726.63 113.817 1766.72 113.817 1798.65 133.237L1811.02 140.763C1842.94 160.183 1883.03 160.183 1914.96 140.763L1927.33 133.237C1959.26 113.817 1999.35 113.817 2031.27 133.237L2043.64 140.763C2075.57 160.183 2115.66 160.183 2147.58 140.763L2211.92 101.624" stroke="#353542" stroke-width="6" stroke-linejoin="round" stroke-dasharray="4 12"/>
                    <path d="M2 271L66.3421 231.861C98.2673 212.441 138.356 212.441 170.282 231.861L182.654 239.387C214.579 258.807 254.668 258.807 286.593 239.387L298.966 231.861C330.891 212.441 370.98 212.441 402.905 231.861L415.278 239.387C447.203 258.807 487.292 258.807 519.217 239.387L531.589 231.861C563.514 212.441 603.604 212.441 635.529 231.861L647.901 239.387C679.826 258.807 719.915 258.807 751.841 239.387L764.213 231.861C796.138 212.441 836.227 212.441 868.152 231.861L880.525 239.387C912.45 258.807 952.539 258.807 984.464 239.387L996.837 231.861C1028.76 212.441 1068.85 212.441 1100.78 231.861L1113.15 239.387C1145.07 258.807 1185.16 258.807 1217.09 239.387L1229.46 231.861C1261.39 212.441 1301.47 212.441 1333.4 231.861L1345.77 239.387C1377.7 258.807 1417.79 258.807 1449.71 239.387L1462.08 231.861C1494.01 212.441 1534.1 212.441 1566.02 231.861L1578.4 239.387C1610.32 258.807 1650.41 258.807 1682.33 239.387L1694.71 231.861C1726.63 212.441 1766.72 212.441 1798.65 231.861L1811.02 239.387C1842.94 258.807 1883.03 258.807 1914.96 239.387L1927.33 231.861C1959.26 212.441 1999.35 212.441 2031.27 231.861L2043.64 239.387C2075.57 258.807 2115.66 258.807 2147.58 239.387L2211.92 200.248" stroke="#353542" stroke-width="6" stroke-linejoin="round" stroke-dasharray="4 12"/>
                </svg>
                <div class="expert-about">
                    <h4>Антон Одноволов</h4>
                    <p>
                        Инженер с опытом работ на премиальном рынке инженерии 15 лет. Последние 6 лет является техническим директором бельгийского производителя инженерных систем Henco Industries
                    </p>
                </div>
            </div>
            <div class="expert__block item-subblock">
                <div class="expert-photo">
                    <img src="./img/staff/photo2.jpg" alt="photo2">
                </div>
                <svg class="wave" width="1408" height="274" viewBox="0 0 1408 274" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 73.7519L66.3421 34.6129C98.2673 15.193 138.356 15.193 170.282 34.6129L182.654 42.139C214.579 61.5589 254.668 61.5589 286.593 42.139L298.966 34.6129C330.891 15.193 370.98 15.193 402.905 34.6129L415.278 42.139C447.203 61.5589 487.292 61.5589 519.217 42.139L531.589 34.6129C563.514 15.193 603.604 15.193 635.529 34.6129L647.901 42.139C679.826 61.5589 719.915 61.5589 751.841 42.139L764.213 34.6129C796.138 15.193 836.227 15.193 868.152 34.6129L880.525 42.139C912.45 61.5589 952.539 61.5589 984.464 42.139L996.837 34.6129C1028.76 15.193 1068.85 15.193 1100.78 34.6129L1113.15 42.139C1145.07 61.5589 1185.16 61.5589 1217.09 42.139L1229.46 34.6129C1261.39 15.193 1301.47 15.193 1333.4 34.6129L1345.77 42.139C1377.7 61.5589 1417.79 61.5589 1449.71 42.139L1462.08 34.6129C1494.01 15.193 1534.1 15.193 1566.02 34.6129L1578.4 42.139C1610.32 61.5589 1650.41 61.5589 1682.33 42.139L1694.71 34.6129C1726.63 15.193 1766.72 15.193 1798.65 34.6129L1811.02 42.139C1842.94 61.5589 1883.03 61.5589 1914.96 42.139L1927.33 34.6129C1959.26 15.193 1999.35 15.193 2031.27 34.6129L2043.64 42.139C2075.57 61.5589 2115.66 61.5589 2147.58 42.139L2211.92 3" stroke="#353542" stroke-width="6" stroke-linejoin="round" stroke-dasharray="4 12"/>
                    <path d="M2 172.376L66.3421 133.237C98.2673 113.817 138.356 113.817 170.282 133.237L182.654 140.763C214.579 160.183 254.668 160.183 286.593 140.763L298.966 133.237C330.891 113.817 370.98 113.817 402.905 133.237L415.278 140.763C447.203 160.183 487.292 160.183 519.217 140.763L531.589 133.237C563.514 113.817 603.604 113.817 635.529 133.237L647.901 140.763C679.826 160.183 719.915 160.183 751.841 140.763L764.213 133.237C796.138 113.817 836.227 113.817 868.152 133.237L880.525 140.763C912.45 160.183 952.539 160.183 984.464 140.763L996.837 133.237C1028.76 113.817 1068.85 113.817 1100.78 133.237L1113.15 140.763C1145.07 160.183 1185.16 160.183 1217.09 140.763L1229.46 133.237C1261.39 113.817 1301.47 113.817 1333.4 133.237L1345.77 140.763C1377.7 160.183 1417.79 160.183 1449.71 140.763L1462.08 133.237C1494.01 113.817 1534.1 113.817 1566.02 133.237L1578.4 140.763C1610.32 160.183 1650.41 160.183 1682.33 140.763L1694.71 133.237C1726.63 113.817 1766.72 113.817 1798.65 133.237L1811.02 140.763C1842.94 160.183 1883.03 160.183 1914.96 140.763L1927.33 133.237C1959.26 113.817 1999.35 113.817 2031.27 133.237L2043.64 140.763C2075.57 160.183 2115.66 160.183 2147.58 140.763L2211.92 101.624" stroke="#353542" stroke-width="6" stroke-linejoin="round" stroke-dasharray="4 12"/>
                    <path d="M2 271L66.3421 231.861C98.2673 212.441 138.356 212.441 170.282 231.861L182.654 239.387C214.579 258.807 254.668 258.807 286.593 239.387L298.966 231.861C330.891 212.441 370.98 212.441 402.905 231.861L415.278 239.387C447.203 258.807 487.292 258.807 519.217 239.387L531.589 231.861C563.514 212.441 603.604 212.441 635.529 231.861L647.901 239.387C679.826 258.807 719.915 258.807 751.841 239.387L764.213 231.861C796.138 212.441 836.227 212.441 868.152 231.861L880.525 239.387C912.45 258.807 952.539 258.807 984.464 239.387L996.837 231.861C1028.76 212.441 1068.85 212.441 1100.78 231.861L1113.15 239.387C1145.07 258.807 1185.16 258.807 1217.09 239.387L1229.46 231.861C1261.39 212.441 1301.47 212.441 1333.4 231.861L1345.77 239.387C1377.7 258.807 1417.79 258.807 1449.71 239.387L1462.08 231.861C1494.01 212.441 1534.1 212.441 1566.02 231.861L1578.4 239.387C1610.32 258.807 1650.41 258.807 1682.33 239.387L1694.71 231.861C1726.63 212.441 1766.72 212.441 1798.65 231.861L1811.02 239.387C1842.94 258.807 1883.03 258.807 1914.96 239.387L1927.33 231.861C1959.26 212.441 1999.35 212.441 2031.27 231.861L2043.64 239.387C2075.57 258.807 2115.66 258.807 2147.58 239.387L2211.92 200.248" stroke="#353542" stroke-width="6" stroke-linejoin="round" stroke-dasharray="4 12"/>
                </svg>
                <div class="expert-about">
                    <h4>Иван Власов</h4>
                    <p>
                        Главный эксперт  национального чемпионата Worldskills Russia в компетенции «Сантехника и отопление»
                    </p>
                </div>
            </div>
        </div>
        <div class="form__rectangls-block">
            <svg class="rectangl_bottom" width="166" height="123" viewBox="0 0 236 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M81.963 0.000821882L236 0L154.037 174.999L0 175L81.963 0.000821882Z" fill="#353542"/>
            </svg>
            <svg class="rectangl_top" width="100" height="77" viewBox="0 0 159 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M55.2208 0.00055888L159 0L103.779 119L0 119L55.2208 0.00055888Z" fill="#353542"/>
            </svg> 
        </div>
    </div>
</div>