<div class="main__warranty">
    <div class="main__warranty-container container warranty-container">
        <h3 class="title__second">
            Какие гарантии мы предоставляем?
        </h3>
        <div class="warranty-container__guarantee-points">
            <div class="guarantee-point">
                <div class="year"><p>50</p></div>
                <span>лет</span>
                <p>гарантии на эксплуатацию оборудования</p>
            </div>
            <div class="guarantee-point">
                <div class="year"><p>10</p></div>
                <span>лет</span>
                <p>гарантия отсутствия поломок</p>
            </div>
            <div class="guarantee-point">
                <div class="year"><p>5</p></div>
                <span>лет</span>
                <p>на исправность систем защиты от протечек</p>
            </div>
            <div class="guarantee-point">
                <div class="year"><p>2</p></div>
                <span>года</span>
                <p>гарантия на монтажные работы</p>
            </div>
        </div>
        <div class="form__rectangls-block">
            <div class="rectangls">
                <svg class="rectangl_bottom" width="236" height="175" viewBox="0 0 236 175" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M81.963 0.000821882L236 0L154.037 174.999L0 175L81.963 0.000821882Z" fill="#F8F8F8"/>
                </svg>
                <svg class="rectangl_top" width="159" height="119" viewBox="0 0 159 119" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M55.2208 0.00055888L159 0L103.779 119L0 119L55.2208 0.00055888Z" fill="#F8F8F8"/>
                </svg> 
                <svg class="rectangl_left" width="44" height="33" viewBox="0 0 44 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.7188 0.000154983L0 0L15.2812 32.9999L44 33L28.7188 0.000154983Z" fill="#F8F8F8"/>
                    </svg>
            </div>
        </div>
    </div>
</div>